.cookieCnilMakheia{
	position: fixed;
	left: 0;
	width: 99.5%;
	width: calc(100% - 10px);
	background: #fff;
	padding: 5px;
	font-size: 12px;
	height: auto;
}
.cookieCnilMakheia table{
	/*min-width: 600px;*/
	
}
.cookieCnilMakheia table, .cookieCnilMakheia table tr td{
	font-size: 12px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	text-align: left;
}
#cookie_cnil table{
	margin-bottom: 0px;
}
#cookie_cnil table tr td{
	padding: 8px;
	vertical-align: middle;
	text-align: left;
}
.cookieCnilMakheia p.textCookie{
	margin: 0;
	float: left;
	padding: 2px 5px;
}
.cookieCnilMakheia .linkCookie{
	float: right;
	text-align: right;
}
.cookieCnilMakheia .linkCookie p{
	margin: 0;
	padding: 0;
}
.cookieCnilMakheia  #fermerCookieCnil {
	position: fixed;
	right: 0px;
	padding: 5px;
	width: 12px;
	text-align: center;
}
.cookieCnilMakheia  #fermerCookieCnil a{
	text-decoration: none;
}
/****** POPUP *********/
.cookieCnilMakheia_black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1001;
}
.cookieCnilMakheia_white_content {
    display: none;
    position: absolute;
    top: 100px;
	left: 50%;
	margin-left: -200px;
	margin-left: calc(200px - 200px);
    top: calc(50% - 200px);
	left: calc(50% - 200px);
	width: 400px;
    background-color: white;
    z-index:1002;
}
.cookieCnilMakheia_white_content .closePopupCookie {
	position: absolute;
	top: 5px;
	right: 5px;
	margin: 0;
	padding: 0;
}
.cookieCnilMakheia_white_content .closePopupCookie a {	
	text-decoration: none;
}
.cookieCnilMakheia_white_content .popupTitreCookie {
	text-transform: uppercase;
	text-align: center;
	padding: 9px 0px;
	margin: 0px;
}
.cookieCnilMakheia_white_content table tr td{	
	font-size: 12px;
}
.cookieCnilMakheia_white_content p{	
	margin: 0 0 5px 0;
}
.cookieCnilMakheia_white_content p.subTitleCookie{	
	margin: 0px;
	font-weight: bold;
}
.textright {
    float: right;
	text-decoration: none;
}