.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
}

/** Carousel **/

.wrapper {display:table; width:100%; height:100%;}
.cell {display:table-cell; vertical-align:middle; width:100%; height:100%;}


.jcarousel-HRpolicy,
.jcarousel {
  height: 92px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 920px;
}

.jcarousel-HRpolicy ul ,
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-HRpolicy li ,
.jcarousel li {
   height: 90px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;cursor: pointer;
    width: 220px;
}

.jcarousel-HRpolicy img ,
.jcarousel img {
    display: block;
    /*max-width: 100%;*/
    /*height: auto !important;*/
    margin: 0 auto;
    max-width: 157px;
    max-height: 75px;
}

/** Carousel Controls **/

.jcarousel-control-prev2, .jcarousel-control-next2 ,
.jcarousel-control-prev, .jcarousel-control-next {
  color: #393937;
  font: 24px/27px Arial,sans-serif;
  height: 30px;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  width: 30px;
}

.jcarousel-control-prev,
.jcarousel-control-prev2 {
    left: 15px;
    background: url('../images/carousel-left.png') no-repeat center center;
}

.jcarousel-control-next,
.jcarousel-control-next2{
    right: 15px;
    background: url('../images/carousel-right.png') no-repeat center center;
}

.jcarousel-control-next2,
.jcarousel-control-prev2{top:113px;z-index: 920;}



/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
