@media (min-width: 768px){
    #custom-contact-form .mfl.col-xs-3,
    #custom-contact-form .mfr.col-xs-9{padding: 0}
    #custom-contact-form .mfl.col-xs-3{width: 216px}
    #custom-contact-form .mfr.col-xs-9{width: 284px}
    
    #custom-contact-form .mfl.col-xs-5,
    #custom-contact-form .mfr.col-xs-7{padding: 0}
    #custom-contact-form .mfl.col-xs-5{width: 259px}
    #custom-contact-form .mfr.col-xs-7{width: 230px}
    
    #custom-contact-form .mfl.col-xs-2,
    #custom-contact-form .mfr.col-xs-10{padding: 0}
    #custom-contact-form .mfl.col-xs-2{width: 215px}
    #custom-contact-form .mfr.col-xs-10{width: 285px}
    
    .description_inner .pdf a{width: 87%}
   #template_DNA .rowfc {width: 50%}
    #template_DNA .rowfc .desc{width: 87%}
    #template_DNA .rowfc .pdf a{width: 80%}

}

@media (min-width: 768px) and (max-width: 1024px){
    .wrap-collls {  width: 100%;}
    .front_talented_bg .mobile{display: none;}
    #block-custom-home_page_menu_grid .split_li {width: 200%;}
}

@media (min-width: 320px) and (max-width: 767px){
    .description_inner .pdf a{width: 87%}
    #template_DNA .rowfc.rowfc-L,
    #template_DNA .rowfc.rowfc-R{float: none}
    #template_DNA .rowfc {width: 100%}
    #template_DNA .rowfc .desc{width: 100%}
    #template_DNA .rowfc .pdf a{width: 89%}
    .cmza {
        margin: 0;
        width: 98%;
    }
    .dddd{width: 100%}
    .dddd .wrapper_blocks li.triger_drop_cat {
      float: left;
        width: 50%;
    }
    
    .front_talented_bg .mobile{display: block;}
    .front_talented_bg .desktop{display: none;}

    .container{ width:100%;}

    .discover_boccard_new_btn.mobile {
        display: block;
    }

    #wrapper-plants .custom_module_tpl_blocks {
        padding-top:0;
    }
    .wrapper_blocks li{margin-top: 18px}

    .wrapper_blocks li.mid-386,
    .wrapper_blocks li.mid-391{margin-top: 18px}

    .wrapper_blocks li .title {
        padding: 10px 0 12px;
    }

    .psps{margin: 18px 0 0 12px;text-align: center;}
    #block-custom-front_plants_process_mobile .btitle{display: none}


    .wrap-collls{width: 100%}
    .swiper-button-next, .swiper-button-prev{
        display: block;
    }
    .close_menu{left:25px;}
    // .logo img{width: calc(222px - 25%)}
    .logo img{width:180px }




    .hb_field_image_mobile{display:block }
    .hb_field_image{display:none }

    #block-custom-front_newsletter_form .block-inner {
        width: 83%;
        padding-bottom: 0
    }
    #block-custom-front_newsletter_form .mail_input {
        width: 290px;
    }

    img{width: 100%}


    .custom_search_input{display: none}


    #block-custom-my_header{width: 100%}

    .menu-toggle{margin-right: 9px}
    .menu-toggle {
        margin-top: 0px;
    }

    #content-pages, #content-front {
        padding-top: 80px;
    }


    .sws{z-index: 999}


    #menu_wrapper {
        right: 0;
        width: 310px;
    }

    .text_on_banner{bottom: 15px;top:auto;width: 320px;right: auto;left:20px}
    .text_on_banner-7{bottom: 15px;top: auto;}

    .text_on_banner .big {
        font-size: 30px;
        line-height: 1;
    }
    body.i18n-pl .text_on_banner .big {
        font-size: 30px;
        line-height: 1;
    }
    .text_on_banner .sml {
        font-size: 15px;
    }
    body.i18n-pl .text_on_banner .sml {
        font-size: 15px;
    }

    #menu_wrapper_inner {
        padding: 62px 0 30px 25px;
    }



    .years_100 {
        height: 136px;
        padding-bottom: 2px;
    }
    .years_100 .title {
        position: relative;
        right: auto;
        top: -35px;
        font-size: 17px;
        width: 100%;
        padding-top: 0;
    }
    #countdown10 {
        position: relative;
        right: 6px;
        top: 48px;
        margin: 0 auto;
        text-align: center;
    }
    .ClassyCountdown-wrapper > div {
        margin: 8px;
        width: calc(27% - 22px);
    }
    .ClassyCountdown-wrapper > div.ClassyCountdown-days {
        margin-left: 14px;
    }
    .ClassyCountdown-wrapper > div.ClassyCountdown-seconds {
        margin-right: 0;
    }

    .explore_boccard_loc, .explore_boccard {
        margin: 5px auto 0;
        font-size: 16px;
    }
    .popup{width: 320px;height: 200px;padding: 0}
    .close_popup{right: 3px}
    h2{font-size: 30px}
    #block-custom-front_plants_process .block-inner {padding-top:0;}
    .custom_module_tpl_blocks .btitle{width: 100%;margin: 0 auto; text-align: center;padding: 8px 0}
    #menu_wrapper .scroll-pane {
        width: 320px;
    }
    .food-wrapper {
  margin-left: 15px;
}
.fb-wrapper {
  min-height: 20%;
  padding-top: 20px;
}
    .det_middle .blk{width: 100%}
    .det_middle .blk .fl{float: none;}
    .det_middle .blk .fr{float: none;}
    .childs,
    .title2.hasChildren {  width: 94%;margin-left: 0}
    .childs{padding-top: 12px}
    .right-j{margin-top: 12px}
    .plants_detail_box .det_top{background-position: center 0}
    .wrapper_blocks .title {min-height: 25px; }
    .smallest {width: 100%;}



    #block-custom-front_services_mobile,
    #block-custom-front_plants_process_mobile{display: block}
    #block-custom-front_plants_process,
    #block-custom-front_services,
    #block-custom-front_plants_process_1{display: none;}
    #block-custom-front_map {margin-top: 29px;}
    #block-custom-front_map .explore_boccard_loc{margin-top: 17px;font-size: 18px;}
    .map-img-div{margin-top:12px }
    .row-wrap-news-1 { margin-left:0;}
    .row-wrap-news-2 {float: left}
    .show-hide-hover{display: none;}
    #block-views-news-block .maskit{line-height: 125%}
    #block-views-news-block_1 .field_brief{line-height: 120%}



    .more-btn a {  margin: 19px auto 0;}

    #block-custom-front_talented {  margin-top: 18px;}
    #block-custom-front_newsletter_form .rub_title {
        font-size: 21px;
        text-align: center;
        padding-left: 0;
    }
    #block-custom-front_newsletter_form .mail_input {width: 100%;}
    #block-custom-front_newsletter_form .mail_submit{margin: 12px 18px 0 0 }
    #block-custom-my_footer .block-inner {padding: 22px 12px 8px 12px;}
    .social-btns ul {margin-top: 0;width: 80px}
    .social-btns ul li{margin-left: 0}
    li.tw,
    li.ut{margin-top: 13px}
    .social-btns ul li.ut,
    .social-btns ul li.in{margin-left: 16px}

    .social-btns.social-btns-header ul {width: 180px}
    .social-btns.social-btns-header li {margin-left: 16px;}

    .footer_logo img{width: 166px}
    #footer-menu{margin-right: 20px}
    #footer-menu ul li a {padding: 2px 10px 2px 5px;}

    #block-views-news-block{display:block }

    #block-views-news-block_1{display: none}

    #block-views-news-block_1 {
        margin-top: 18px
    }
    #block-views-news-block_1 .maskit{
        background: url('../images/maskit-news.png'); color:#fff;
        width: 100%;    
        font-size: 18px;
    }
    #block-views-news-block_1 .maskit .title{min-height: auto}
    #block-views-news-block_1 .maskit .title a{padding: 9px;}
    #block-views-news-block_1 .maskit div.more{margin-top: 16px}
    #block-views-news-block_1 .maskit .more a{color:#fff;margin-left: 8px;display: block;font-size: 13px;margin-top: 2px}
    #block-views-news-block_1 .maskit .title a{color:#fff;display: block;width:100%px;line-height: 120%}
    .node-page .banner.relative img {
        height: 82%;
        left: 0;
        position: absolute;
        width: auto;
    }
    .disk_open_close {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 178px;
    bottom: auto;
    }
    .mobile-dropdown_title_brief {
    background: #f1f1f1 none repeat scroll 0 0;
    height: 230px;
    }

    .field_your_needs, .field_our_solutions {
        width:100%;
        float: none;
    }
    .field_our_added_value, .field_our_technologies_services {
        float: none;
        width: 100%;
        margin-top: 15px;
    }
    .field_our_technologies_services {
        margin-top: 85px;
    }
    .bottom_row {
        margin-top: 15px;
    }
    .mobile-dropdown_title_brief .txt{font-size: 18px;}
    .mobile-dropdown_title_brief .title{text-align: center;font-size: 30px;padding: 10px 0;color:#636363}
    .mobile-dropdown_title_brief .brief{text-align: center;font-size: 18px;padding:0 18px 40px 8px}
    .mobile-dropdown_title_brief .dropdown{margin: 0 auto;padding-top: 20px;}
    .dropdown .bg {
        margin-top: 1px;
    }
    .node-page .categories{margin-top: 0;font-size: 20px}
    h2.sc-block-title{font-size: 30px;padding-bottom: 5px;}
    .field_big_image-wrapper img{width: 100%}
    .contact_have_proj .txt_big {  font-size: 30px;padding-top: 12px;}
    .contact_have_proj .main_title {margin-top: 28px;}
    .node-page .description{margin-top: 25px}
    #block-views-successstory-block {  margin-top: 47px;}
    .row-wrap-testimonials .field_title {  padding: 0 25px;}
    .contact_have_proj.contact_have_proj2 {padding-bottom: 33px;}
    .slider_logos li {  width: 100%;}
    .description_inner .title {  text-align: left;}
    .row-wrap-testimonials .field_title {  font-size: 15px;  margin-top: 13px;}
    .row-wrap-testimonials .body {
    font-size: 20px;
    margin: 0 auto;
    width: 87%;
    text-align: left;
    }
    .jcarousel img,
    .row-wrap-testimonials .image img {width: auto}

    .rrow {overflow: hidden;  padding: 0 15px;}
    #block-views-successstory-block .wrapper {  width: 99%;}
    .jcarousel-wrapper {margin: 2px auto;}
    .row-wrap-testimonials .field_author {
    font-size: 12px;
    margin: 15px 0 0 0;
    padding-left: 25px;
    text-align: left;
    }
    .bg-grey {
    padding-bottom: 38px;
    }
    #template_DNA .banner.relative img{
        height: 82%;
        left: -130px;
        position: absolute;
        width: auto;
    }
    #masonry .icon_grey img{width: auto}
    .block_interesting_tpl_block .body_number span {
        display: block;
        padding-bottom: 12px;
    }
    .block_interesting_tpl_block .rowif {
        width: 50%;
    }
    #template_DNA .title_sml {
        color: #21bbef;
        font-size: 17px;
        padding: 12px 0 0 0 ;
        text-align: center;
    }
    #template_DNA h2.title {
        color: #636363;
        background: url("../images/bg-sml.png") no-repeat center 10px;
        font-size: 28px;
        margin-top: 3px;
        padding: 15px 0 10px;
        text-align: center;
}
    
    #template_DNA .brief {
    padding: 12px 45px 25px 45px;
    text-align: center;
    font-size: 20px;
    }
 
    

    .absolute-dropdown_title_brief h2.title {
        background: url("../images/bg-sml.png") no-repeat center 10px;
        padding: 15px 0 10px;
        font-size: 30px;
        text-align: center; 
        margin-top: 3px;
    }
    .absolute-dropdown_title_brief {
        left: 0;
        top: 236px;
        color: #636363;
        padding: 30px 18px;
        background: #f1f1f1;
        width: 100%;
    }
    .absolute-dropdown_title_brief .brief{font-size: 20px;text-align: center;margin-top: 0}



    .dna_banner_mobile {display: block}
    .dna_banner_mobile .img{height: 250px;overflow: hidden}
    
    
    #history .banner .title, 
    #history .banner .brief, #history .banner h2 { color: #636363;}
    
    #history .banner{ height: 460px;overflow: hidden;}
    #history .banner .title_sml{color:#21bbef;font-size: 18px;text-align: center}
    #history .absolute-dropdown_title_brief {
        height: 165px;
        left: 0;
        position: relative;
        top: 0;
    }
    
    #history .banner img{position: relative;left: 0;width: auto}
    .dna_banner_mobile .img img{position: relative;left: -205px;width: auto}

    .mobile_grey{background: #f1f1f1;padding:14px 0}

    #template_DNA .banner.relative {
        background: #f1f1f1;
    }

    #node-606 .title_paragraph{margin-top: 1px }
    
    #template_DNA #node-851 .under_banner_grey,
    #template_DNA #node-1622 .under_banner_grey,
    #template_DNA #node-1471 .under_banner_grey,
    #template_DNA #node-606 .under_banner_grey {
        margin-top: 0;
        height: 287px;
    }
    #template_DNA .under_banner_grey .rounded {
        top: -11px;
        z-index: 978;
        left: 25%;
    }
    #template_DNA .under_banner_grey .names_positions {
        left: 0;
        top: 214px;
        text-align: center;
        width: 100%;
    }
    
    #template_DNA #node-606 .absolute-dropdown_title_brief{min-height: 202px}
    
    .title_paragraph{padding: 30px 18px 0 18px; }
    #template_DNA .field-collection-container .field-name-field-bdescription .field-item {
        width:100%;
    }
    .title_paragraph .field-items .field-item.last_child .field-collection-item-field-title-description{background: none}


    .partners_tpl_page .locations-ptitle {
        height: 120px;
        text-align: center;
        padding: 118px 0 0 0;
        font-size: 30px;
    }
    .partners_tpl_page .banner-locations-inner {
        background-position: center 30px;
    }
    .partners_tpl_page .banner-locations{height: 212px}
    .partners_tpl_page .bpa .image.fl{float: none;text-align: center;width: 100%}
    .partners_tpl_page .bpa .image.fl img{width: auto}
    .partners_tpl_page .bpa .fr{float: none}
    .partners_tpl_page .bpa{padding-bottom: 23px;margin-top: 23px;}


    .partners_tpl_page .bpa .body {
        width: 100%;
    }
    .partners_tpl_page .bpa {
        width: 100%;
    }
    .banner-locations-inner.sitemap,
    .banner-locations-inner.cookies,
    .banner-locations-inner.legals,
    .banner-locations-inner {
        background-position: center 31px;
        height: 155px;
        width: 100%;
    }
    .locations-ptitle{padding: 100px 0 0 0;font-size: 30px;text-align: center;}
    #map-canvas {
        height: 280px;
        margin-top: 29px;
        width: 100%;
    }
    .html_contacts_popup_listing .left-one.fl{float: none}
    .html_contacts_popup_listing .right-one.fr{float: none;margin-top: 15px;}
    .html_contacts_popup_listing{width: 290px}
    .html_contacts_popup_listing .inner{width:100%}
    .html_contacts_popup_listing .popc_title {width: 275px;font-size: 14px;font-weight: bold;}
    .html_contacts_popup_listing .popc_field_adresse_postale {width: 280px;}
    #country_input {
  display: block;
  margin: 0 auto;
  width: 310px;
}

    #custom-contact-form label {
        float: none;
        padding-bottom: 8px;
        text-align: left;
        width: auto;
    }
    #custom-contact-form{width:96%}
    #custom-contact-form .fl,
    #custom-contact-form .fr{float: none}
    #custom-contact-form .fl.mfl{float: left;padding-left: 0}
    #custom-contact-form .fr.mfr{float: right;padding-right: 0;padding-left: 0;}

    #custom-contact-form select{width: 100%}
    #custom-contact-form input[type="text"]{width: 100%}
    #custom-contact-form .form-item-tel-code input[type="text"] {width: 100%;}
    #custom-contact-form .form-item-zip-code input[type="text"] {width: 100%;}
    #custom-contact-form .form-item-first-name input[type="text"] {width: 100%;}
    .you_have_big_title_contacts{font-size: 30px}


    #custom-contact-form .left-leg,
    #custom-contact-form .right-leg {width: 100%;}
    #custom-contact-form .form-item-title select {
        height: 30px;
        width: 100%;
    }

    #custom-contact-form .form-item.form-item-city{width: 100%}
    #custom-contact-form .form-item.form-item-phone{margin-top: 37px}
    #custom-contact-form .form-item-city input[type="text"] {
        width: 100%;
    }
    #custom-contact-form .form-item-phone input[type="text"] {
        width: 100%;
    }
    #custom-contact-form textarea {
        height: 176px;
        width: 100%;
    }
    #captchaMe {
        width: 80%;
    }

    .block_news_tpl_page .locations-ptitle {
        padding: 95px 0 0 0;
    }
    .block_press_tpl_page .banner-locations-inner, 
    .block_news_tpl_page .banner-locations-inner {
        background-position: center 27px;
    }
    .block_news_tpl_page .left_bl {
        width: 100%;
    }
    .block_news_tpl_page .padding_2{padding: 40px 20px}
    .block_news_tpl_page .field_imagecaption {
        width: 282px;
    }
    .block_news_tpl_page .field_image.mobile{margin-top: 22px}
    .block_press_tpl_page .bl {
        margin-top: 28px;
        width: 100%;
    }
    .block_press_tpl_page .pdf a {width:86%;}
    .block_press_tpl_page .bl.fl,
    .block_press_tpl_page .bl.fr{float: none}
    .popup_nl_jet {top: -6px;}
    .talelink {
        color: #636363;
        font-size: 30px;
        left: 31px;
        text-align: center;
        top: 30.22%;
        width: 84%;
    }
    .talelink:hover {color: #636363;}
    
    .disk_open_close.hr-policy {
        top: 36.8%;
    }

    .applybtn {
        top: 25.2%;
        left: 105px;
        font-size: 20px;
        width:113px;
        height: 40px;
        line-height: 38px; 
    }
    .applybtn.mobile_specific {margin: -20px auto 0 auto;top: 1px;right: auto}

    .padd-class {padding: 31px 0px;}
    
    
    #node-1984 .padd-class,
    #node-1544 .padd-class,
    #node-1985 .padd-class,
    #node-1970 .padd-class,
    #node-1545 .padd-class,
    #node-1983 .padd-class,
    #node-634 .padd-class,
    #node-633 .padd-class {padding: 31px 18px;}

    #site-map .site-map-box ul {
        padding-left: 20px;
    }
    ul.site-map-menu {
        font-size: 21px;
    }
    ul.site-map-menu li ul li a {
        font-size: 16px;
    }

    .invoke.invoke-2 {
        margin-top: 66px;
    }
    .testi-hr-block{margin-top: 14px }
    .invoke-2-title {
        font-size: 30px;
    }
    .grey-bg-mobile{background: #f1f1f1;height: 178px;}

    .hire_you .title {
        font-size: 30px;
    }
    #pannel-job-profiles-4 h2.title_hr {
        margin: 0 auto;
        padding-top: 44px;
        text-align: center;
        width: 80%;
    }
    .hr-blk-row .body {
        width: 100%;
    }
    .invoke.invoke-1 .hr-blk-row .binner {
  width: 100%;
}
    .hr-blk-row-left,
    .hr-blk-row-right {
        float: none;
        margin-top: 22px;
        width: 100%;
    }
    .row-with-bg {
        background-position: 0 top;
        margin-top: 19px;
        padding-top: 10px;
    }
    .invoke.invoke-1 .hr-blk-row .fl {float: none}
    .invoke.invoke-1 .hr-blk-row .binner {
        width: 100%;
    }
    .invoke.invoke-1 .hr-blk-row .body {
        width: 100%;
    }
    .hr-block {
        padding: 0 18px;
    }
    .wrap-btns-crv {
        width: 135px;
    }
    .btn_crv_rof {
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        border-radius: 28px;
        line-height: 32px;
        width: 100px;
    }
    .btn_crv_rof.btn_crv_rof_right {
        width: 170px;
        margin-top: 25px;
    }
    .mofield_image{margin-top: 12px;float: none;}
    
    
    .invoke.invoke-1 .hr-blk-row .no_image .binner {
        width: 280px;
    }
    .hr-blk-row ul li, .node .description_inner ul li {
        background-position: 0 9px;
    }
    .hr-blk-row .title{color:#636363;font-size: 18px;font-weight: bold;}
    .hr-block.hr-page {
        margin-top: 59px;
    }
    .title_hr.center {
        padding-top: 180px;
    }
    .banner-locations-inner.search .locations-ptitle {
        font-size: 30px;
        padding: 106px 0 0 0;
    }
    .banner-locations-inner.search {
        background-position: 121px 21px;
    }
    .search_wrapper {
        padding: 25px 18px;
    }

    .form_wrapper .fl,
    .form_wrapper .fr{float: none}
    #block-custom-front_newsletter_form .mail_submit {
        margin: 22px auto;
        display: block;
    }

    .dropdown .bg {
    margin-left: 12px;
    margin-top: 0;
    }
    .mobile-dropdown_title_brief .title {
    padding: 21px 0 10px 0;
    background: url('../images/bg-sml.png') no-repeat center 10px ;
    }


    .plants_detail_box .det_middle{padding: 15px}
    
    .node_ref_nid_60 .dropdown .bg,
    .node_ref_nid_45 .dropdown .bg,
    .node_ref_nid_27 .dropdown .bg,
    .node_ref_nid_37 .dropdown .bg
    {background: url('../images/arrow_down_category-blue.png') no-repeat;width:21px;height: 21px;margin-left: 12px}

    /*    .logo.sww {
        width: 170px;
        padding-right: 0;
        padding-left: 8px;
        }*/

    .col-lg-8.swl {display: none;}

    .discover_boccard_new_btn.mobile .bg {
        background: url('../images/explore_mobile.png') no-repeat; 
        width:84px;
        height: 60px;
    }
    .discover_boccard_new_btn.mobile .txt {
        text-align: right;
        font-size: 17px;
        line-height: 112%;
        padding: 15px 0 0 0;
    }
    .discover_boccard_new_btn {
        cursor: pointer;
        left: 9px;
        margin: 0 auto ;
        padding-top: 12px;
        top: 340px;
        width: 235px;
        z-index: 800;
    }
    #block-custom-explore_boccard_mobile{background: #f5f5f5}

    #block-custom-ex_bo_arrow_mobile{background: #f5f5f5;padding-bottom: 12px;}
    .ex_bo_arrow_mobile{margin: 0 auto;width:183px;}
    .ex_bo_arrow_mobile .bg{background: url('../images/arrow_right_circle.png') no-repeat;width:17px;height: 17px;}
    .wrapper_blocks li .bg {
        width: 50px;
    }


    .white_cover {
        background: transparent;
        display: none;
    }    







    .swiper-container-mob {
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    .swiper-news-mob-button-next , .swiper-news-mob-button-prev{
        background: url('../images/arrow-news-mobile.png') no-repeat;
        width: 40px;
        height: 40px;
        bottom: 35px;
        position: absolute;
        z-index: 99999;
        right: 65px;
        cursor: pointer;
    }
    .swiper-news-mob-button-next{
        right: 15px;
        background-position: -55px 0
    }

    .node-page .banner.relative img{position: absolute;top:0;left:-28px;height: 100%}
    
    .node-page .banner.relative {
    overflow: hidden;
    width: 100%;
    }

    .swiper-container-ss {
    width: 100%;
    }
    .swiper-button-ss-next, .swiper-button-ss-prev {
    top: 82px;
    }


    .s1 .swiper-slide .cell {
    height: 72px;
    }

    .s1 .swiper-slide .cell img {
    display: block;
    margin: 0 auto;
    max-height: 75px;
    max-width: auto;
    width: auto;
    }
    .row-wrap-testimonials .image img {
    max-height: 80px;
    max-width: 1180px;
    }
    .jcarousel-control-next2, .jcarousel-control-prev2 {
    top: 83px;
    }
    #country_dropdown{width: 100%}

    .wrapper_blocks .split_li {text-align: left; }
    .wrapper_blocks li.split_li{margin-top: 0}
    .split_li.col-xs-12{padding: 0}

    
    #block-custom-home_page_menu_grid .split_li {
      width: 100%;
    }
    #block-custom-home_page_menu_grid .split_li.set-2 {
      margin-left: 0;
    }
    
    #block-custom-front_services_mobile .split_li {display: none }
    .det_middle .blk {  width: 100%;}
    .left-j, .right-j {  float: none;min-height: 20%;}
    #discover_boccardJJ {width: 100%}
    #discover_boccardJJ .discover_boccard_new_btn .txt {font-size: 23px;}

    
 .row-wrap-testimonials .video-wrapper{margin:25px 0 25px 0}

 .hide-37,
 .hide-27,
 .hide-45,
 .hide-60{display: none}
 
 #banner_37{background: url('../images/bg-engineering.jpg') no-repeat center 0 ;}
 #banner_27{background: url('../images/bg-manufacturing.jpg') no-repeat center 0 ;}
 #banner_45{background: url('../images/bg-construction.jpg') no-repeat center 0 ;}
 #banner_60{background: url('../images/bg-maintenance.jpg') no-repeat center 0 ;}

 .empty_ro{display: none}
 
    .block_interesting_tpl_block .body_number {
     width: 100%;
   }
    .sitemap .locations-ptitle, .cookies .locations-ptitle {
    padding: 100px 0 0;
    }
    
    .jcarousel-HRpolicy, .jcarousel{width: 100%}

    .img100p{margin-top: 15px;}
    
    .page-recruitment-site #content-pages{padding-top: 0}
    
}


@media screen and (max-width:320px) {
    .hr-block {  margin-top: 10px;  }

    .front_talented_bg .tal_text {
      font-size: 30px;
    }
    #block-views-news-block{display:none }
    #block-views-news-block_1{display:block }
    
    
    

}
@media (min-width: 320px) and (max-width: 480px){
    .row-wrap-testimonials .body {padding: 20px 0 0 0;}
    .search_container.search_container_mobile {
        display: block;
        margin: 19px 0 0;
        position: relative;
    }
    .search_container{display: none;}
    .custom_search_input {
        background:  url("../images/search_input_bg_mobile.png") no-repeat left 29px;
        display: block;
        height: 42px;
        left: 38px;
        position: absolute;
        right: auto;
        top: -7px;
        width: 191px;
        z-index: 999;
    }
    .custom_search_submit{
        background: transparent url("../images/loop_blue.png") no-repeat scroll 1px 3px;
        margin: 0px 9px 0 0;
        /*position: absolute;*/
        right: auto;
        left: 0;
        height: 30px;
    }
    
    
    .front_talented_bg .mobile{display: block;}
    .front_talented_bg {
  font-size: 30px;
}
.front_talented_bg .tal_text {
  bottom: 45px;
  width: 100%;
}
    #block-views-news-block{display: none}
    #block-views-news-block_1{display: block}
    #block-views-news-block_1 {
        margin: 0 auto;
        width: 68%;
    }
    
    
    #recaptcha_challenge_image{
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
    }
    #recaptcha_response_field
    {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
    }
    .recaptchatable #recaptcha_image {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
    }
    .recaptchatable .recaptcha_r1_c1, 
    .recaptchatable .recaptcha_r3_c1, 
    .recaptchatable .recaptcha_r3_c2, 
    .recaptchatable .recaptcha_r7_c1, 
    .recaptchatable .recaptcha_r8_c1, 
    .recaptchatable .recaptcha_r3_c3, 
    .recaptchatable .recaptcha_r2_c1, 
    .recaptchatable .recaptcha_r4_c1, 
    .recaptchatable .recaptcha_r4_c2, 
    .recaptchatable .recaptcha_r4_c4, 
    .recaptchatable .recaptcha_image_cell {
    margin: 0 !important;
    width: 100% !important;
    background: none !important;
    height: auto !important;
    }
    #recaptcha_reload_btn img,
    #recaptcha_switch_audio_btn img,
    #recaptcha_whatsthis_btn img,
    #recaptcha_logo img{width: auto !important}
    #custom-contact-form .recaptchatable a, #custom-contact-form .recaptchatable a:hover {
    float: right !important;
    margin-left: 5px !important;
    text-align: left !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 
    .search_container_mobile{display: none}
    .dna_banner_mobile{position: relative;}
    .mobile_grey {
        background: none;
        color: #fff;
        position: absolute;
        right: 0;
        top: 30px;
        width: 310px;
    }
    #template_DNA .title_sml{color: #fff;text-align: left;}
    #template_DNA h2.title{color: #fff;text-align: left;background: none;}
    .block_interesting_tpl_block {
        padding: 22px 0;
    }
    #template_DNA .brief {
    text-align: left;
    
    padding-left: 0;
    }
    .absolute-dropdown_title_brief{left: auto;}
    #history .absolute-dropdown_title_brief{
        background: none;
        color: #fff;
        position: absolute;
        right: 0;
        top: 60px;
        width: 310px;
        left: auto;
    }
    #history .banner {height: 295px;}
    #history .banner .title_sml{color: #fff;text-align: left;}
    #history .banner .title, 
    #history .banner .brief, 
    #history .banner h2{color: #fff;text-align: left;}
    .absolute-dropdown_title_brief h2.title{background: none;}
    .field_image_news img{width: 350px}
    .html_contacts_popup_listing {width: 490px;}
    .html_contacts_popup_listing .left-one.fl {float: left}
    .html_contacts_popup_listing .right-one.fr{float: right}
    
}