.field-type-node-reference.field-name-field-sscref.field-widget-options-buttons{display: none;}

.block ul.language-switcher-locale-url{margin-left: 0}
.language-switcher-locale-url li{ list-style: none;float: left; margin: 5px 8px 5px 0}
.language-switcher-locale-url li a:hover{
    text-decoration: none;
}
.language-switcher-locale-url li a{ 
    background-color: #f1f1f1;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #cbcbcb;
    border-radius: 7px;
    display: inline-block;
    font-size: small;
    line-height: 1.3333;
    padding: 3px 7px;
}

.language-switcher-locale-url::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

#page-node-form #edit-field-sscref-und{display: none}