.absolute-dropdown_title_brief h2.title { margin-top: 18px;}
#template_DNA .brief { line-height: 113%;margin-top: 10px;}

.hr_page.join_us a { width: 210px;}
.hire_you .btn-join {width: 247px;}
#menu_wrapper_inner li .nolink{width: 280px;line-height: 90%;display: block;}

/*
#custom-contact-form .form-submit {
  background: transparent url("../images/ok-contacts-es.png") no-repeat scroll 0 0;
  width: 117px;
}
*/
#custom-contact-form .form-item-city label {
  width: 48px;
}

#custom-contact-form .form-item-city input[type="text"] {
  width: 182px;
}
.years_100 .title {
  right: 27px;
  width: 283px;
}
.btitle.l2 {
  width: 240px;
}
.and_abs {
  left: 365px;
}

.wrapper_blocks li.mid-893.active .bg{
  background-position: -51px -340px;
  width: 51px;
}
.left-j, .right-j {
  min-height: 123px;
}
.det_middle .blk {
  width: 880px;
}
.childs {
  margin-left: 57px;
  width: 240px;
}
#block-custom-front_map .explore_boccard_loc, #block-custom-front_map .explore_boccard {
  width: 283px;
}
a.main_btn_cont {
  width: 218px;
}

.site-map-box-menu{display: none;}
.site-map-box-menu.site-map-box-menu-menu-main-menu-es{display: block;}


.absolute-dropdown_title_brief h2.title {
 line-height: 96%;
 margin-top: 14px;
}
.absolute-dropdown_title_brief .brief {
  margin-top: 8px;
}
.wrapper_blocks li.mid-811.active .bg,
.wrapper_blocks li.mid-1049.active .bg,
.wrapper_blocks li.mid-893.active .bg,
.wrapper_blocks li.brewery.active .bg {
  background-position: -52px -340px;
}

.absolute-dropdown_title_brief {
  top: 45px;
}
.absolute-dropdown_title_brief h1.title,
.absolute-dropdown_title_brief h2.title {
  margin-top: 18px;
}
.marches-encart a{
    background-image: url('../images/marches-encart-es.jpg');
}
@media (min-width: 320px) and (max-width: 767px){
    .years_100 .title {
    width: 100%;
    right: auto;
    }
    .childs {
    margin-left: 0;
    width: 100%;
    }
    .det_middle .blk {
    width:100%;
    }
    .left-j, .right-j {
    min-height: 20%;
    }
    .discover_boccard_new_btn {
        width: 275px;
    }

    .block_interesting_tpl_block .rowif.rowif-1480,
    .block_interesting_tpl_block .rowif.rowif-1481,
    .block_interesting_tpl_block .rowif.rowif-1479,
    .block_interesting_tpl_block .rowif.rowif-1484 {
    height: 340px;
    }
    #menu_wrapper ul li ul li a {width: 140px;}
    #menu_wrapper_inner li .nolink {
      width: 220px;
    }
	.marches-encart a{
        background-image: url('../images/marches-encart-mobile-es.jpg');
    }
}