button, html input[type=button], input[type=reset], input[type=submit]{outline: none}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}
ul li.expanded,ul li.leaf{list-style: none;list-style-type:none}
ul li.collapsed{list-style: none;}
li.expanded, li.collapsed, li.leaf , ul.menu li{margin: 0;padding: 0}
.hidden {
  display: none !important;
  visibility: hidden;
}
a {
   outline: 0;
}
a:focus{outline: 0;text-decoration: none}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline: 0;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
li{list-style: none}
a{text-decoration: none;color:#636363}

.row{margin: 0}

@font-face {
  font-family: 'futural';
  src: 
      url('fonts/futural.ttf') format('truetype'),
      url('fonts/futural.woff') format('woff'),
      url('fonts/futurab.eot')  format('embedded-opentype'),
      url('fonts/futurab.svg') format('svg');
  
  /*
  src: url('fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/RobotoCondensed-Regular.woff2') format('woff2'), 
       url('fonts/RobotoCondensed-Regular.ttf')  format('truetype'),
       url('fonts/RobotoCondensed-Regular.svg#svgFontName') format('svg'); */
}
@font-face {
  font-family: 'futuram';
  src: 
      url('fonts/futuram.ttf') format('truetype'),
      url('fonts/futural.woff') format('woff'),
      url('fonts/futurab.eot')  format('embedded-opentype'),
      url('fonts/futurab.svg') format('svg');
}
@font-face {
    font-family: 'signPainter';
    src: url('../fonts/SignPainter-HouseScript-02.otf') format("opentype");
}
/*
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
}
*/
.fl{float: left}
.fr{float: right}
.tb{border:1px solid #000;}
body {
    line-height: 1;
    font-size: 14px;
    font-family: 'futural';
    font-weight: 500;
    color: #636363;
}
body.i18n-pl{
	font-family: "Arial",Helvetica Neue,Helvetica,sans-serif;
}
h2{color:#23bcec;font-size: 40px;font-weight: normal}

#main{width: 100%;}
a:hover{text-decoration: none}
.container{padding: 0;width: 1024px}

.search_form_container{margin-right: 25px}
.custom_search_input {
  background:url("../images/search_input_bg.png") no-repeat 0 17px;
  border: 0 none;
  display: none;
  height: 23px;
  width: 0;
  font-size: 16px;
  outline: none;
}

.custom_search_submit{background: url('../images/loop.png') no-repeat 12px 3px transparent;border: 0;text-indent: -9999px;width: 34px;height: 23px;cursor: pointer;padding: 0 }
.menu-toggle{margin-top: 7px}
.search_container{margin-top: 15px}
.menu-toggle {
  display: block;
  float: right;
  cursor: pointer;
  margin-right: 5px
}
.menu-toggle .text {
  color: #8e8e8e;
  display: block;
  font-size: 12px;
  margin-top: 10px
}
.i_bar_btn {
  display: block;
  margin-left: 1px;
}
.i_bar_btn span {
  background: #8e8e8e;
  display: block;
  height: 3px;
  margin-top: 4px;
  width: 29px;
}



#block-custom-my_header {
  position: fixed;
  z-index: 980;
  background: #fff;
  width: 1024px;
}

#content-pages,
#content-front {padding-top: 90px}

.page-recruitment-site #content-pages{padding-top: 0}

#block-custom-my_header .block-inner{padding-top: 18px;padding-bottom: 20px}

.absolute{position: absolute}
.relative{position: relative}

.swiper-slide{line-height: 72%}

#menu_wrapper{
    top:-20px;
    right:-8px;
    background: url('../images/mask-menu-px.png');
    width: 360px;
    z-index: 999;
    display: none;
    -webkit-box-shadow: -3px 3px 3px 0px rgba(207, 207, 207, 1);
    -moz-box-shadow:    -3px 3px 3px 0px rgba(207, 207, 207, 1);
    box-shadow:         -3px 3px 3px 0px rgba(207, 207, 207, 1);
}
#menu_wrapper_inner{padding: 0 0 30px 30px}

.white_cover {
  height: 58px;
  width: 260px;
}

.close_menu{left:12px;top:13px;background: url('../images/close_menu.png') no-repeat 1px 1px ;width:15px;height:15px;cursor: pointer}

#menu_wrapper ul{font-size: 23px;margin: 0;padding: 0;}
body.i18n-pl #menu_wrapper ul, body.i18n-ru #menu_wrapper ul{font-size: 18px;}
#menu_wrapper ul li {margin-top: 13px;cursor: pointer}

#menu_wrapper ul li a:hover{
 color:#21BBEF;   
}

#menu_wrapper ul li a.nolink.active,
#menu_wrapper ul li a
{color:#21BBEF }


#menu_wrapper ul li ul {margin-left:23px}
#menu_wrapper ul li ul li{margin-top: 4px}
#menu_wrapper ul li ul li a{color:#626262;font-size: 18px;width:160px;display: block}
#menu_wrapper ul li ul li ul li a{font-size: 15px}


.ClassyCountdown-wrapper > div {
    display: inline-block;
    position: relative;
    /*width: calc(25% - 20px);*/
    width:46px;
    margin: 9px;
    background: #fff;
    border-radius: 50%;
}
.ClassyCountdown-wrapper .ClassyCountdown-value {
    width: 100%;
    line-height: 0.7em;
    position: absolute;
    top: 52%;
    text-align: center;
    left: 0;
    display: block;
}

#countdown10 {
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 900;
}
#countdown10 a {
    background-color: #d2a02f;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 15px;
    font-size: 90%;
    -moz-box-shadow: 2px 2px 10px 0px #656565;
    -webkit-box-shadow: 2px 2px 10px 0px #656565;
    -o-box-shadow: 2px 2px 10px 0px #656565;
    box-shadow: 2px 2px 10px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=10);
    transition: all 0.5s ease;
}
#countdown10 a::before {
    content: url(../images/stars.png);
    height: 23px;
    display: inline-block;
    top: 7px;
    position: relative;
    margin-right: 5px;
}
#countdown10 a:hover {
    -moz-box-shadow: 2px 2px 20px 0px #656565;
    -webkit-box-shadow: 2px 2px 20px 0px #656565;
    -o-box-shadow: 2px 2px 20px 0px #656565;
    box-shadow: 2px 2px 20px 0px #656565;
}

.years_100 {background: #f5f5f5;padding-bottom: 46px;height: 183px}
.years_100 .title {
  font-size: 15px;
  padding-top: 15px;
  position: absolute;
  right: 46px;
  text-align: center;
  top: 25px;
  width: 243px;
}
.explore_boccard_loc .explore_link,
.explore_link{font-size: 16px;text-align: center;color:#00b4ec;}

.explore_boccard_loc.mhover .explore_link,
.explore_boccard.mhover .explore_link{color:#616161;}

.explore_boccard_loc,
.explore_boccard{width:205px;margin: 17px auto 0 auto;cursor: pointer;}
#block-custom-front_map {margin-top: 51px}
#block-custom-front_map .explore_boccard_loc,
#block-custom-front_map .explore_boccard{width:238px;}

.explore_boccard .bg_arrow{background: url('../images/explore_arrow_right.png') no-repeat ;width:17px;height:17px;margin-left: 7px}
.explore_boccard_loc .bg_arrow{background: url('../images/explore_arrow_right.png') no-repeat ;width:17px;height:17px;margin-left: 7px}

.explore_boccard.mhover .bg_arrow{background: url('../images/arrow_right_circle.png') no-repeat;}

.wrapper_blocks .title{
    color:#636363;
    font-size:20px;
}
   
#block-custom-front_services_mobile,
#block-custom-front_services {background: #f5f5f5;}

#wrapper-plants .custom_module_tpl_blocks{padding-top: 32px;margin-bottom: 38px}
#wrapper-services .custom_module_tpl_blocks{padding-top: 32px;padding-bottom: 38px}
.btitle{text-align: center}

.tit_wrapper_j{position: relative;}

.btitle-0 {
  left: 213px;
  top: -50px;
}
.btitle-1 {
  left: 500px;
  top: -50px;
}
.btitle-2 {
  left: 700px;
  top: -50px;
}
.btitle-3 {
  left: 439px;
  top: 0;
}

#block-custom-front_plants_process .wrapper_blocks {margin-top: 5px}
.dddd .wrapper_blocks li.triger_drop_cat{width: 50%;float: left}
.wrapper_blocks li.triger_drop_cat{
  cursor: pointer;
  text-align: center;
  margin-top: 45px;

}

.wrapper_blocks li .bg{
    background: url('../images/sprite-plants.png') 0 0 no-repeat;
    height:48px;
    display: block;
    margin: 0 auto;
    width: 53px
}

.contact_have_proj .main_ico.oil--gas{margin: 16px auto 0 auto;}

.title2{color:#636363;font-size: 20px;margin-bottom: 18px;text-align: center;}
.title2 a{color:#636363}
/* hovers  */


.wrapper_blocks li.mid-1024.active .bg,
.wrapper_blocks li.mid-889.active .bg,
.wrapper_blocks li.mid-800.active .bg,
.wrapper_blocks li.mid-1195.active .bg,
.wrapper_blocks li.oil--gas.active .bg{ background-position: -52px 0;}

.blk-1024 div:hover , 
.blk-1024 a:hover , 
.blk-1024 span:hover,

.blk-800 div:hover , 
.blk-800 a:hover , 
.blk-800 span:hover{color:#b5a600;}

.blk-889 div:hover , 
.blk-889 a:hover , 
.blk-889 span:hover{color:#b5a600;}

.blk-1195 div:hover , 
.blk-1195 a:hover , 
.blk-1195 span:hover{color:#b5a600;}

.blk-1367 div:hover , 
.blk-1367 a:hover , 
.blk-1367 span:hover{color:#b5a600;}

.wrapper_blocks li.mid-1024.active .title,
.wrapper_blocks li.mid-889.active .title,
.wrapper_blocks li.mid-800.active .title,
.wrapper_blocks li.mid-1195.active .title,
.wrapper_blocks li.mid-1367.active .title,
.wrapper_blocks li.oil--gas.active .title{color: #b5a600}

/* power utilities Begin */
.wrapper_blocks li.mid-826.active .bg,
.wrapper_blocks li.mid-1033.active .bg,
.wrapper_blocks li.mid-897.active .bg,
.wrapper_blocks li.mid-1199.active .bg,
.wrapper_blocks li.mid-1375.active .bg,
.wrapper_blocks li.power--utilities.active .bg{ background-position: -52px -169px;}

.wrapper_blocks li.mid-826.active .title,
.wrapper_blocks li.mid-1033.active .title,
.wrapper_blocks li.mid-897.active .title,
.wrapper_blocks li.mid-1199.active .title,
.wrapper_blocks li.mid-1375.active .title,
.wrapper_blocks li.power--utilities.active .title,

.blk-826 div:hover , 
.blk-826 a:hover , 
.blk-826 span:hover,

.blk-392 div:hover , 
.blk-392 a:hover , 
.blk-392 span:hover,

.blk-1033 div:hover , 
.blk-1033 a:hover , 
.blk-1033 span:hover,

.blk-1199 div:hover , 
.blk-1199 a:hover , 
.blk-1199 span:hover,

.blk-1375 div:hover , 
.blk-1375 a:hover , 
.blk-1375 span:hover,
.blk-897 div:hover , 
.blk-897 a:hover , 
.blk-897 span:hover{color:#97bf0d;}
/* power utilities end */

.wrapper_blocks li.mid-1027.active .bg,
.wrapper_blocks li.mid-803.active .bg,
.wrapper_blocks li.mid-890.active .bg,
.wrapper_blocks li.mid-1196.active .bg,
.wrapper_blocks li.mid-1368.active .bg,
.wrapper_blocks li.nuclear.active .bg{ background-position: -52px -84px;}

.wrapper_blocks li.mid-803.active .title,
.wrapper_blocks li.mid-1027.active .title,
.wrapper_blocks li.mid-890.active .title,
.wrapper_blocks li.mid-1196.active .title,
.wrapper_blocks li.mid-1368.active .title,
.wrapper_blocks li.nuclear.active .title,
.blk-803 div:hover , 
.blk-803 a:hover , 
.blk-803 span:hover{color:#8f0cff;} 

.blk-391 div:hover , 
.blk-391 a:hover , 
.blk-391 span:hover{color:#8f0cff;} 

.blk-890 div:hover , 
.blk-890 a:hover , 
.blk-890 span:hover{color:#8f0cff;}

.blk-1196 div:hover , 
.blk-1196 a:hover , 
.blk-1196 span:hover{color:#8f0cff;}

.blk-1368 div:hover , 
.blk-1368 a:hover , 
.blk-1368 span:hover{color:#8f0cff;}

.blk-1027 div:hover , 
.blk-1027 a:hover , 
.blk-1027 span:hover{color:#8f0cff;} 

.wrapper_blocks li.mid-837.active .bg,
.wrapper_blocks li.mid-1044.active .bg,
.wrapper_blocks li.mid-902.active .bg,
.wrapper_blocks li.mid-1204.active .bg,
.wrapper_blocks li.mid-1386.active .bg,
.wrapper_blocks li.industries.active .bg{ background-position: -51px -254px;width: 49px;}

.wrapper_blocks li.mid-837.active .title,
.wrapper_blocks li.mid-1044.active .title,
.wrapper_blocks li.mid-902.active .title,
.wrapper_blocks li.mid-1204.active .title,
.wrapper_blocks li.mid-1386.active .title,
.wrapper_blocks li.industries.active .title,
.blk-393 div:hover , 
.blk-393 a:hover , 
.blk-393 span:hover{color:#475b7b;}

.blk-902 div:hover , 
.blk-902 a:hover , 
.blk-902 span:hover{color:#475b7b;}

.blk-1044 div:hover , 
.blk-1044 a:hover , 
.blk-1044 span:hover{color:#475b7b;}

.blk-1204 div:hover , 
.blk-1204 a:hover , 
.blk-1204 span:hover{color:#475b7b;}

.blk-1386 div:hover , 
.blk-1386 a:hover , 
.blk-1386 span:hover{color:#475b7b;}
.blk-837 div:hover , 
.blk-837 a:hover , 
.blk-837 span:hover{color:#475b7b;}


.wrapper_blocks li.mid-811.active .bg,
.wrapper_blocks li.mid-1049.active .bg,
.wrapper_blocks li.mid-893.active .bg,
.wrapper_blocks li.mid-1206.active .bg,
.wrapper_blocks li.mid-1392.active .bg,
.wrapper_blocks li.brewery.active .bg{ background-position: -52px -340px;width: 51px;}

.wrapper_blocks li.mid-811.active .title,
.wrapper_blocks li.mid-1049.active .title,
.wrapper_blocks li.mid-893.active .title,
.wrapper_blocks li.mid-1206.active .title,
.wrapper_blocks li.mid-1392.active .title,
.wrapper_blocks li.brewery.active .title,
.blk-893 div:hover , 
.blk-893 a:hover , 
.blk-893 span:hover{color:#d5a500;}

.blk-394 div:hover , 
.blk-394 a:hover , 
.blk-394 span:hover{color:#d5a500;}

.blk-1049 div:hover , 
.blk-1049 a:hover , 
.blk-1049 span:hover{color:#d5a500;}

.blk-1206 div:hover , 
.blk-1206 a:hover , 
.blk-1206 span:hover{color:#d5a500;}

.blk-1392 div:hover , 
.blk-1392 a:hover , 
.blk-1392 span:hover{color:#d5a500;}
.blk-811 div:hover , 
.blk-811 a:hover , 
.blk-811 span:hover{color:#d5a500;}

.wrapper_blocks li.mid-847.active .bg,
.wrapper_blocks li.mid-1073.active .bg,
.wrapper_blocks li.mid-907.active .bg,
.wrapper_blocks li.mid-1213.active .bg,
.wrapper_blocks li.mid-1395.active .bg,
.wrapper_blocks li.pharma--biotech-.active .bg{ background-position: -52px -596px;}

.wrapper_blocks li.mid-847.active .title,
.wrapper_blocks li.mid-1073.active .title,
.wrapper_blocks li.mid-907.active .title,
.wrapper_blocks li.mid-1213.active .title,
.wrapper_blocks li.mid-1395.active .title,
.wrapper_blocks li.pharma--biotech-.active .title,
.blk-395 div:hover , 
.blk-395 a:hover , 
.blk-395 span:hover{color:#046ab3;}

.blk-907 div:hover , 
.blk-907 a:hover , 
.blk-907 span:hover{color:#046ab3;}

.blk-1073 div:hover , 
.blk-1073 a:hover , 
.blk-1073 span:hover{color:#046ab3;}

.blk-1213 div:hover , 
.blk-1213 a:hover , 
.blk-1213 span:hover{color:#046ab3;}

.blk-1395 div:hover , 
.blk-1395 a:hover , 
.blk-1395 span:hover{color:#046ab3;}

.blk-847 div:hover , 
.blk-847 a:hover , 
.blk-847 span:hover{color:#046ab3;}

.wrapper_blocks li.mid-815.active .bg,
.wrapper_blocks li.mid-1053.active .bg,
.wrapper_blocks li.mid-894.active .bg,
.wrapper_blocks li.mid-1207.active .bg,
.wrapper_blocks li.mid-1393.active .bg,
.wrapper_blocks li.food--beverage.active .bg{background-position: -51px -426px;}

.wrapper_blocks li.mid-1053.active .title,
.wrapper_blocks li.mid-815.active .title,
.wrapper_blocks li.mid-894.active .title,
.wrapper_blocks li.mid-1207.active .title,
.wrapper_blocks li.mid-1393.active .title,
.wrapper_blocks li.food--beverage.active .title,
.blk-390 div.smallest:hover , 
.blk-390 a:hover , 
.blk-390 span:hover{color:#ff6600;}

.blk-815 div.smallest:hover , 
.blk-815 a:hover , 
.blk-815 span:hover{color:#ff6600;}

.blk-894 div.smallest:hover , 
.blk-894 a:hover , 
.blk-894 span:hover{color:#ff6600;}

.blk-1207 div.smallest:hover , 
.blk-1207 a:hover , 
.blk-1207 span:hover{color:#ff6600;}

.blk-1393 div.smallest:hover , 
.blk-1393 a:hover , 
.blk-1393 span:hover{color:#ff6600;}

.blk-1053 div.smallest:hover , 
.blk-1053 a:hover , 
.blk-1053 span:hover{color:#ff6600;}



.wrapper_blocks li.mid-842.active .bg,
.wrapper_blocks li.mid-1065.active .bg,
.wrapper_blocks li.mid-903.active .bg,
.wrapper_blocks li.mid-1210.active .bg,
.wrapper_blocks li.mid-1394.active .bg,
.wrapper_blocks li.cosmetics--hygiene.active .bg{background-position: -50px -510px}

.wrapper_blocks li.mid-842.active .title,
.wrapper_blocks li.mid-1065.active .title,
.wrapper_blocks li.mid-903.active .title,
.wrapper_blocks li.mid-1210.active .title,
.wrapper_blocks li.mid-1394.active .title,
.wrapper_blocks li.cosmetics--hygiene.active .title,
.blk-384 div:hover , 
.blk-384 a:hover , 
.blk-384 span:hover{color:#e2007a;} 

.blk-903 div:hover , 
.blk-903 a:hover , 
.blk-903 span:hover{color:#e2007a;} 

.blk-1065 div:hover , 
.blk-1065 a:hover , 
.blk-1065 span:hover{color:#e2007a;}  

.blk-1210 div:hover , 
.blk-1210 a:hover , 
.blk-1210 span:hover{color:#e2007a;} 

.blk-1394 div:hover , 
.blk-1394 a:hover , 
.blk-1394 span:hover{color:#e2007a;} 

.blk-842 div:hover , 
.blk-842 a:hover , 
.blk-842 span:hover{color:#e2007a;} 



.wrapper_blocks li .title{padding: 26px 0 12px 0}



#block-custom-front_services .wrapper_blocks li .bg{background: url('../images/sprite-services.png') center 0 no-repeat;}
#block-custom-front_services .wrapper_blocks li.active .title{color:#0191d0}
#block-custom-front_services .wrapper_blocks li.active .bg{background: url('../images/sprite-services-hover.png') center 0 no-repeat;}

#block-custom-front_services .wrapper_blocks li.mid-1082 .bg,
#block-custom-front_services .wrapper_blocks li.mid-911 .bg,
#block-custom-front_services .wrapper_blocks li.mid-856 .bg,
#block-custom-front_services .wrapper_blocks li.mid-1217 .bg,
#block-custom-front_services .wrapper_blocks li.mid-1422 .bg,
#block-custom-front_services .wrapper_blocks li.manufacturing .bg{ background-position: 0 -89px;}

#block-custom-front_services .wrapper_blocks li.mid-1088 .bg,
#block-custom-front_services .wrapper_blocks li.mid-953 .bg,
#block-custom-front_services .wrapper_blocks li.mid-858 .bg,
#block-custom-front_services .wrapper_blocks li.mid-1269 .bg,
#block-custom-front_services .wrapper_blocks li.mid-1434 .bg,
#block-custom-front_services .wrapper_blocks li.construction .bg{  background-position: 0 -189px;}

#block-custom-front_services .wrapper_blocks li.mid-1089 .bg,
#block-custom-front_services .wrapper_blocks li.mid-912 .bg,
#block-custom-front_services .wrapper_blocks li.mid-859 .bg,
#block-custom-front_services .wrapper_blocks li.mid-1435 .bg,
#block-custom-front_services .wrapper_blocks li.maintenance .bg{ background-position: 0 -299px;}

#block-custom-front_services_mobile .wrapper_blocks li .bg{background: url('../images/sprite-services.png') center 0 no-repeat;}
#block-custom-front_services_mobile .wrapper_blocks li.active .title{color:#0191d0}
#block-custom-front_services_mobile .wrapper_blocks li.active .bg{background: url('../images/sprite-services-hover.png') center 0 no-repeat;}

#block-custom-front_services_mobile .wrapper_blocks li.mid-1082 .bg,
#block-custom-front_services_mobile .wrapper_blocks li.mid-911 .bg,
#block-custom-front_services_mobile .wrapper_blocks li.mid-856 .bg,
#block-custom-front_services_mobile .wrapper_blocks li.mid-1422 .bg,
#block-custom-front_services_mobile .wrapper_blocks li.manufacturing .bg{ background-position: 0 -89px;}

#block-custom-front_services_mobile .wrapper_blocks li.mid-1088 .bg,
#block-custom-front_services_mobile .wrapper_blocks li.mid-953 .bg,
#block-custom-front_services_mobile .wrapper_blocks li.mid-858 .bg,
#block-custom-front_services_mobile .wrapper_blocks li.mid-1434 .bg,
#block-custom-front_services_mobile .wrapper_blocks li.construction .bg{  background-position: 0 -189px;}

#block-custom-front_services_mobile .wrapper_blocks li.mid-1089 .bg{ background-position: 0 -299px;}
#block-custom-front_services_mobile .wrapper_blocks li.mid-912 .bg{ background-position: 0 -299px;}
#block-custom-front_services_mobile .wrapper_blocks li.mid-859 .bg{ background-position: 0 -299px;}
#block-custom-front_services_mobile .wrapper_blocks li.mid-1435 .bg{ background-position: 0 -299px;}
#block-custom-front_services_mobile .wrapper_blocks li.maintenance .bg{ background-position: 0 -299px;}



.wrapper_blocks li.mid-800 .bg,
.wrapper_blocks li.oil--gas .bg{
    background-position: 0 0;
}
.wrapper_blocks li.mid-803 .bg,
.wrapper_blocks li.mid-1027 .bg,
.wrapper_blocks li.mid-890 .bg,
.wrapper_blocks li.mid-1196 .bg,
.wrapper_blocks li.mid-1368 .bg,
.wrapper_blocks li.nuclear .bg{
    background-position: 0 -84px;
}
.wrapper_blocks li.mid-826 .bg,
.wrapper_blocks li.mid-1033 .bg,
.wrapper_blocks li.mid-897 .bg,
.wrapper_blocks li.mid-1199 .bg,
.wrapper_blocks li.mid-1375 .bg,
.wrapper_blocks li.power--utilities .bg{
    background-position: 0 -169px;
}
.wrapper_blocks li.mid-837 .bg,
.wrapper_blocks li.mid-1044 .bg,
.wrapper_blocks li.mid-902 .bg,
.wrapper_blocks li.mid-1204 .bg,
.wrapper_blocks li.mid-1386 .bg,
.wrapper_blocks li.industries .bg{
    background-position: 0 -254px;
}
.wrapper_blocks li.mid-1049 .bg,
.wrapper_blocks li.mid-811 .bg,
.wrapper_blocks li.mid-893 .bg,
.wrapper_blocks li.mid-1206 .bg,
.wrapper_blocks li.mid-1392  .bg,
.wrapper_blocks li.brewery .bg{
    background-position: 0 -340px;
}
.wrapper_blocks li.mid-815 .bg,
.wrapper_blocks li.mid-1053 .bg,
.wrapper_blocks li.mid-894 .bg,
.wrapper_blocks li.mid-1207 .bg,
.wrapper_blocks li.mid-1393 .bg,
.wrapper_blocks li.food--beverage .bg{
    background-position: 0 -426px;
}
.wrapper_blocks li.mid-842 .bg,
.wrapper_blocks li.mid-1065 .bg,
.wrapper_blocks li.mid-903 .bg,
.wrapper_blocks li.mid-1210 .bg,
.wrapper_blocks li.mid-1394 .bg,
.wrapper_blocks li.cosmetics--hygiene .bg{
    background-position: 0 -510px;
}
.wrapper_blocks li.mid-847 .bg,
.wrapper_blocks li.mid-1073 .bg,
.wrapper_blocks li.mid-907 .bg,
.wrapper_blocks li.mid-1213 .bg,
.wrapper_blocks li.mid-1395 .bg,
.wrapper_blocks li.pharma--biotech- .bg{
    background-position: 0 -596px;
}

#block-custom-front_services .plants_detail_box{display: none}
.plants_detail_box .det_top{background: url('../images/bg_adetails_box_top.png') no-repeat;height: 41px}
.plants_detail_box.services .det_top{background: url('../images/bg_adetails_box_top-services.png') no-repeat center -4px;height: 36px }
.plants_detail_box .det_bottom{background: url('../images/bg_adetails_box_bottom.png') repeat-x;height: 10px}

.det_middle {background: #FCFCFC}
.plants_detail_box.set-1 .det_middle {background: #FCFCFC}
.det_middle .blk{display: none;margin: 0 auto;width: 870px;}





.childs{margin-left: 45px;padding-top: 3px;width:250px;}
.title2.hasChildren{
    color:#23bcec;
    text-align: left;
    width: 110px;
    font-size: 19px;
    /* margin-left: 68px;*/
    margin-bottom: 0;
}
.smallest{font-size: 20px;margin-bottom: 18px}



 

.plants_detail_box.services .blk div.smallest:hover , 
.plants_detail_box.services .blk a:hover , 
.plants_detail_box.services .blk span:hover{color:#0191d0;} 




.blk-386 div:hover , 
.blk-386 a:hover , 
.blk-386 span:hover{color:#b5a600;} 




.blk .title2.hasChildren.c-396{}

#block-views-news-block {margin-top: 18px}
#block-views-news-block .image img{width: 100%}

#block-views-news-block .maskit{
    background: url('../images/maskit-news.png'); 
    color:#fff;
    width: 100%;
    font-size: 18px;
}
#block-views-news-block .maskit .title{min-height:40px;}
#block-views-news-block .maskit .title a{padding: 9px;}
#block-views-news-block .maskit div.more{margin-top: 16px}
#block-views-news-block .maskit .more a{color:#fff;margin-left: 8px;display: block;font-size: 13px;margin-top: 2px}
#block-views-news-block .maskit .title a{color:#fff;display: block;width:100%;line-height: 120%}

.row-wrap-news-0,
.row-wrap-news-1 {float: left}
/*.row-wrap-news-1 {margin-left: 38px}*/
.row-wrap-news-2 {float: right}

.row-white-right{background: url('../images/row-white-right.png') no-repeat 0 0 ;width:17px;height:17px}

.show-hide-hover_inner{padding: 0 8px 9px 8px}
.show-hide-hover{display: none;}

#block-custom-front_talented{margin-top: 55px}

#block-custom-front_talented .img{line-height: 72%}


.front_talented_bg .tal_text{
  font-size: 42px;
  text-align: center;
  bottom: 85px;
  width: 100%;    
}
.front_talented_bg .tal_text a{
    display: block;
    color: #fff;
    margin: 0 auto;    
}
 .front_talented_bg .mobile{display: none;}



.more-btn a{
    margin: 40px auto 0 auto;width: 150px;text-align: center;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    border:1px solid #616161;
    font-size: 16px;
    color: #616161;
    display: block;
}
#block-custom-front_newsletter_form  {background: #f5f5f5}
#block-custom-front_newsletter_form .block-inner{
    margin: 0 auto;
            width:430px;padding-top: 32px;padding-bottom: 40px;position: relative; }
#block-custom-front_newsletter_form .rub_title{color:#636363;font-size: 25px; }
#block-custom-front_newsletter_form .form_wrapper{margin-top: 21px }
#block-custom-front_newsletter_form .form-item {
    min-height: 20px;
}
#block-custom-front_newsletter_form .mail_input {
  background: #fff;
  border: medium none;
  font-size: 16px;
  padding: 6px 0 7px 8px;
  width: 100%;
  margin-bottom: 10px;
}
#block-custom-front_newsletter_form input#rgpd {
    margin-top: 0;
}
#block-custom-front_newsletter_form a {
    color: #009ae0;
}
#block-custom-front_newsletter_form .submit-wrapper {
    width: 87px;
    margin: 20px auto;
}
#block-custom-front_newsletter_form .mail_submit{background: transparent;border:1px solid #8a8a8a;text-align: center;cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 87px;
    font-size: 12px;
    height: 30px;
}

/*#block-custom-my_footer{background: #0191d0}*/
/*#block-custom-my_footer{background: #21BBEF}*/
#block-custom-my_footer{background: #009ae0}

#block-custom-my_footer .block-inner{padding: 22px 22px 8px 22px;color:#ffffff;}
#block-custom-my_footer a{color:#ffffff;}

#footer-menu ul li{float: left;}
#footer-menu ul li.last a {background-image: none;padding: 2px 0 2px 11px;}
#footer-menu ul li a {
  background:url("../images/mnu-foot-sep.png") no-repeat right 5px;
  display: block;
  padding: 2px 16px 2px 11px;
  text-transform: uppercase;
  font-size: 13px
}

.social-btns ul {margin-top: 13px;width:134px;}
.social-btns ul li{
float: left;
margin-left: 5px
}
.social-btns ul li a{
    background: url('../images/social-btns.png') no-repeat center 0; 
    display: block;
    width: 28px;
    height: 27px;
}
/*.social-btns.social-btns-header {margin-top: 10px}*/
.social-btns.social-btns-header ul li a{
    background: url('../images/social-btns-blue.png') no-repeat center 0;
    transition: all 0.5s ease;
}
.social-btns.social-btns-header.top ul li a{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.social-btns.social-btns-header.top ul li a:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.social-btns.social-btns-header ul li.in a{background-position: center -33px}
.social-btns.social-btns-header ul li.fb{margin-left: 0}

.social-btns.social-btns-header ul li.in a{background-position: center -33px}
.social-btns.social-btns-header ul li.tw a{background-position: center -68px}
.social-btns.social-btns-header ul li.ut a{background-position: center -100px}

#block-custom-my_footer .social-btns ul li.in a{background-position: center -28px}
#block-custom-my_footer .social-btns ul li.tw a{background-position: center -56px}
#block-custom-my_footer .social-btns ul li.ut a{background-position: center -83px}

.sitemap_linear {margin: 25px 0;font-size: 14px;}



.sitemap_linear span,
.sitemap_linear a{background: url('../images/bg-sml-dot.png') no-repeat right 11px;padding-right: 4px }
#block-custom-my_footer .sitemap_linear .parent {
  background: url("../images/parent-btn.png") no-repeat right 7px;
  color: #b4e8ff;
  padding-right: 11px;
}
#block-custom-my_footer .sitemap_linear a.parent {color: #ffffff}
#block-custom-my_footer .sitemap_linear .parent.last {background: none}

.sitemap_linear a,
.sitemap_linear span{float: left;margin-right: 7px;display: block;margin-top: 3px;color:#b4e8ff}

.text_on_banner{color:#fff;right:25px;top:150px;z-index: 999;width: 512px}

.text_on_banner-1514,
.text_on_banner-909,
.text_on_banner-1784,
.text_on_banner-7{top:80px;}

.text_on_banner-2653{
	top: 65px;
	width: 530px;
}
.text_on_banner-3375{
	top: 80px;
}

.text_on_banner .big{font-size: 50px;line-height: 1}
.text_on_banner .big.sign_painter{font-family:"signPainter"; font-size: 70px !important;}
.text_on_banner .big.no_title{display: none;}
body.i18n-pl .text_on_banner .big, body.i18n-ru .text_on_banner .big{font-size: 47px;line-height: 1}
.text_on_banner .sml{font-size: 27px;margin-top: 25px;line-height: 130%;}
body.i18n-pl .text_on_banner .sml, body.i18n-ru .text_on_banner .sml{margin-top: 25px;line-height: 130%;}
.text_on_banner-7 .sml{font-size: 27px}


.Languages{font-size: 19px;color:#21BBEF;padding-top: 14px}
#switch_lang{margin-top: 45px}


#menu_wrapper .language-switcher-locale-url{margin-left: 12px;font-size: 14px;}
body.i18n-pl #menu_wrapper .language-switcher-locale-url, body.i18n-ru #menu_wrapper .language-switcher-locale-url{margin-left: 12px;font-size: 14px;}
#menu_wrapper .language-switcher-locale-url li {
  
  float: left;
  margin-left: 5px;
  
}

#menu_wrapper .language-switcher-locale-url li span,
#menu_wrapper .language-switcher-locale-url li a{
    color:#626262;
    display: block;
    border: 1px solid #626262;
    border-radius: 50%;
    padding:5px 0 0 0;
    width:26px;
    height:26px;
    text-align: center;
}
#menu_wrapper .language-switcher-locale-url li.active {color:#21BBEF;}
#menu_wrapper .language-switcher-locale-url li.active a{color:#21BBEF;border-color:#21BBEF; }

.others_menu > div {
    margin-top: 10px;
}
.others_menu .bg {
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
}
.bocpredict .bg{background: url('../images/bocpredict.png');}
.private_access .bg{background: url('../images/private_access.png');}
.menu_years_100 .bg{background: url('../images/menu_100_years.png');}
.others_menu .txt a {
  color: #00b4ec;
  font-size: 23px;
  padding: 4px 0 0 10px;
  display: block;
}
body.i18n-pl .private_access .txt a, body.i18n-ru .private_access .txt a{
	font-size: 21px;
}
.banner.relative{line-height: 72%;min-height: 289px;}

.absolute-dropdown_title_brief{top:75px;left:507px;padding-right: 20px;z-index: 900;}

.dropdown{font-size: 18px;cursor: pointer}
.dropdown .bg{
    background: url('../images/arrow_down_category.png') no-repeat;width:21px;height: 21px;margin-left: 12px;margin-top: -3px; 
}
.absolute-dropdown_title_brief .dropdown .txt {font-size: 25px}
.node-page .categories{background: #fafafa;font-size: 19px;display: none;}
.node-page .categories ul {margin:1px 0 22px 0;}
.node-page .categories ul li {margin:0 0 12px 0;text-align: center}
.node-page .categories .childs ul li{text-align: left}
.node-page .categories ul li a{color: #636363}
.node-page .categories ul li a:hover{color: #21bbef}

.node-page .close_categ{cursor: pointer;font-weight: bold;}
.description_inner .title{color:#21bbef}
.contact_have_proj .main_title{
    color:#0191d0;
    font-size: 20px;
    margin-top: 38px;
    text-transform: uppercase;
    text-align: center;
    line-height: 23px;
}
.contact_have_proj .main_ico{
    background: url('../images/sprite-services-hover.png') no-repeat center 0;
    height: 50px;
    width: 53px;
    margin: 20px auto 0 auto;
}
.contact_have_proj .main_ico.manufacturing{background-position: center -91px }
.contact_have_proj .main_ico.construction { background-position: center -189px; height: 48px;}
.contact_have_proj .main_ico.maintenance{background-position: center -301px }

.node_ref_nid_60 .dropdown .txt,
.node_ref_nid_45 .dropdown .txt,
.node_ref_nid_27 .dropdown .txt,
.node_ref_nid_37 .dropdown .txt{color:#21bbef}

.node_ref_nid_905 .row-wrap-testimonials .field_title,
.node_ref_nid_905 .description_inner .title,
.node_ref_nid_905 .close_categ:hover,
.node_ref_nid_905 .contact_have_proj .main_title,
.node_ref_nid_905 .dropdown .txt,
.node-page.node_ref_nid_905 .categories ul li a:hover,

.node_ref_nid_23 .row-wrap-testimonials .field_title,
.node_ref_nid_23 .description_inner .title,
.node_ref_nid_23 .close_categ:hover,
.node_ref_nid_23 .contact_have_proj .main_title,
.node_ref_nid_23 .dropdown .txt,
.node-page.node_ref_nid_23 .categories ul li a:hover{color:#e2007a}

.node_ref_nid_1142 .row-wrap-testimonials .field_title,
.node_ref_nid_1142 .description_inner .title,
.node_ref_nid_1142 .close_categ:hover,
.node_ref_nid_1142 .contact_have_proj .main_title,
.node_ref_nid_1142 .dropdown .txt,
.node-page.node_ref_nid_1142 .categories ul li a:hover,

.node_ref_nid_923 .row-wrap-testimonials .field_title,
.node_ref_nid_923 .description_inner .title,
.node_ref_nid_923 .close_categ:hover,
.node_ref_nid_923 .contact_have_proj .main_title,
.node_ref_nid_923 .dropdown .txt,
.node-page.node_ref_nid_923 .categories ul li a:hover,

.node_ref_nid_80 .row-wrap-testimonials .field_title,
.node_ref_nid_80 .description_inner .title,
.node_ref_nid_80 .close_categ:hover,
.node_ref_nid_80 .contact_have_proj .main_title,
.node_ref_nid_80 .dropdown .txt,
.node-page.node_ref_nid_80 .categories ul li a:hover{color:#b5a600}

.node_ref_nid_915 .row-wrap-testimonials .field_title,
.node_ref_nid_915 .description_inner .title,
.node_ref_nid_915 .close_categ:hover,
.node_ref_nid_915 .contact_have_proj .main_title,
.node_ref_nid_915 .dropdown .txt,
.node-page.node_ref_nid_915 .categories ul li a:hover,

.node_ref_nid_82 .row-wrap-testimonials .field_title,
.node_ref_nid_82 .description_inner .title,
.node_ref_nid_82 .close_categ:hover,
.node_ref_nid_82 .contact_have_proj .main_title,
.node_ref_nid_82 .dropdown .txt,
.node-page.node_ref_nid_82 .categories ul li a:hover
{color:#8f0cff}

.node_ref_nid_925 .row-wrap-testimonials .field_title,
.node_ref_nid_925 .description_inner .title,
.node_ref_nid_925 .close_categ:hover,
.node_ref_nid_925 .contact_have_proj .main_title,
.node_ref_nid_925 .dropdown .txt,
.node-page.node_ref_nid_925 .categories ul li a:hover,

.node_ref_nid_90 .row-wrap-testimonials .field_title,
.node_ref_nid_90 .description_inner .title,
.node_ref_nid_90 .close_categ:hover,
.node_ref_nid_90 .contact_have_proj .main_title,
.node_ref_nid_90 .dropdown .txt,
.node-page.node_ref_nid_90 .categories ul li a:hover{color:#97bf0d}

.node_ref_nid_920 .row-wrap-testimonials .field_title,
.node_ref_nid_920 .description_inner .title,
.node_ref_nid_920 .close_categ:hover,
.node_ref_nid_920 .contact_have_proj .main_title,
.node_ref_nid_920 .dropdown .txt,
.node-page.node_ref_nid_920 .categories ul li a:hover,

.node_ref_nid_87 .row-wrap-testimonials .field_title,
.node_ref_nid_87 .description_inner .title,
.node_ref_nid_87 .close_categ:hover,
.node_ref_nid_87 .contact_have_proj .main_title,
.node_ref_nid_87 .dropdown .txt,
.node-page.node_ref_nid_87 .categories ul li a:hover{color:#475b7b}

.node_ref_nid_916 .row-wrap-testimonials .field_title,
.node_ref_nid_916 .description_inner .title,
.node_ref_nid_916 .close_categ:hover,
.node_ref_nid_916 .contact_have_proj .main_title,
.node_ref_nid_916 .dropdown .txt,
.node-page.node_ref_nid_916 .categories ul li a:hover,
.node_ref_nid_97 .row-wrap-testimonials .field_title,
.node_ref_nid_97 .description_inner .title,
.node_ref_nid_97 .close_categ:hover,
.node_ref_nid_97 .contact_have_proj .main_title,
.node_ref_nid_97 .dropdown .txt,
.node-page.node_ref_nid_97 .categories ul li a:hover
{color:#d5a500}

.node_ref_nid_924 .row-wrap-testimonials .field_title,
.node_ref_nid_924 .description_inner .title,
.node_ref_nid_924 .close_categ:hover,
.node_ref_nid_924 .contact_have_proj .main_title,
.node_ref_nid_924 .dropdown .txt,
.node-page.node_ref_nid_924 .categories ul li a:hover,

.node_ref_nid_91 .row-wrap-testimonials .field_title,
.node_ref_nid_91 .description_inner .title,
.node_ref_nid_91 .close_categ:hover,
.node_ref_nid_91 .contact_have_proj .main_title,
.node_ref_nid_91 .dropdown .txt,
.node-page.node_ref_nid_91 .categories ul li a:hover{color:#046ab3}

.node_ref_nid_919 .row-wrap-testimonials .field_title,
.node_ref_nid_919 .description_inner .title,
.node_ref_nid_919 .close_categ:hover,
.node_ref_nid_919 .contact_have_proj .main_title,
.node_ref_nid_919 .dropdown .txt,
.node-page.node_ref_nid_919 .categories ul li a:hover,
.node_ref_nid_100 .row-wrap-testimonials .field_title,
.node_ref_nid_100 .description_inner .title,
.node_ref_nid_100 .close_categ:hover,
.node_ref_nid_100 .contact_have_proj .main_title,
.node_ref_nid_100 .dropdown .txt,
.node-page.node_ref_nid_100 .categories ul li a:hover{color:#ff6600}



.node_ref_nid_60 .dropdown .bg,
.node_ref_nid_45 .dropdown .bg,
.node_ref_nid_27 .dropdown .bg,
.node_ref_nid_37 .dropdown .bg
{background: url('../images/arrow_down_category-blue.png') no-repeat;width:21px;height: 21px;margin-left: 12px}



.node_ref_nid_1142 .dropdown .bg,
.node_ref_nid_923 .dropdown .bg,
.node_ref_nid_80 .dropdown .bg{background: url('../images/arrow_right_80.png') no-repeat;}

.node_ref_nid_915 .dropdown .bg,
.node_ref_nid_82 .dropdown .bg{background: url('../images/arrow_right_82.png') no-repeat;}
.node_ref_nid_925 .dropdown .bg,
.node_ref_nid_90 .dropdown .bg{background: url('../images/arrow_right_90.png') no-repeat;}
.node_ref_nid_920 .dropdown .bg,
.node_ref_nid_87 .dropdown .bg{background: url('../images/arrow_right_87.png') no-repeat;}
.node_ref_nid_916 .dropdown .bg,
.node_ref_nid_97 .dropdown .bg{background: url('../images/arrow_right_97.png') no-repeat;}
.node_ref_nid_924 .dropdown .bg,
.node_ref_nid_91 .dropdown .bg{background: url('../images/arrow_right_91.png') no-repeat;}
.node_ref_nid_919 .dropdown .bg,
.node_ref_nid_100 .dropdown .bg{background: url('../images/arrow_right_100.png') no-repeat;}



.absolute-dropdown_title_brief h1.title,
.absolute-dropdown_title_brief h2.title{font-size: 48px;color:#636363;margin-top: 28px }
.absolute-dropdown_title_brief .brief{font-size: 27px;margin-top: 12px;line-height: 100%}
#template_DNA .absolute-dropdown_title_brief h1.title{
	color:#FFFFFF;
}

.node-page .description{display: none}
/*.node-page .description .close_desc a{
    right:16px;
    background: url('../images/close_x.png') no-repeat;width: 17px;height: 17px;z-index: 999;display: block;
    text-indent: -9999px;
    position: absolute;
    top: 12px;
}*/

.close_desc {
    right:16px;
    background: url('../images/close_x.png') no-repeat;width: 17px;height: 17px;z-index: 975;display: block;
    text-indent: -9999px;
    position: absolute;
    top: 12px;
    cursor: pointer;
}
.categories_inner_close_desc {
    right:16px;
    background: url('../images/close_x.png') no-repeat;width: 17px;height: 17px;z-index: 975;display: block;
    text-indent: -9999px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}
.marches-encart{
	margin-top: 34px;
}
.marches-encart a{
    background-image: url('../images/marches-encart.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
    display: block;
    width: 1024px;
    height: 356px;
    margin: 0 auto;
}

@media (max-width:767px){
    .marches-encart a{
        background-image: url('../images/marches-encart-mobile.jpg');
        width: 383px;
        height: 659px;
    }
	/*.cicles{
		width: 144px;
	}*/
}

@media (max-width:385px){
    .marches-encart a{
        width: 300px;
        height: 510px;
		background-size: 100% 100%;
    }
}
/**/

.node_ref_nid_23 .dropdown{color:#e2007a}
.node_ref_nid_23 .categories ul li a:hover{color: #e2007a}
.node_ref_nid_905 .dropdown{color:#e2007a}
.node_ref_nid_905 .categories ul li a:hover{color: #e2007a}


.cat-pixs-top{background: url('../images/cat-pixs-top.png') repeat-x 0 top;height: 10px; }
.cat-pixs-bot{background: url('../images/cat-pixs-bot.png') repeat-x 0 bottom;height: 10px; }

.disk_open_close {
  background: url("../images/animationBouton.gif") no-repeat 0 0;
  bottom: -47px;
  cursor: pointer;
  height: 100px;
  left: 45.5%;
  width: 100px;
  z-index: 900;
}
.disk_open_close:hover {
    background: url('../images/disk_open_close-light-down.png') no-repeat center 22px ;    
}
.disk_open_close.open{
    background: url('../images/disk_open_close-light-up.png') no-repeat center 22px ;    
}
.disk_open_close.open:hover{
    background: url('../images/disk_open_close-dark-up.png') no-repeat center 22px ;    
}

.disk_open_close.nohover,
.disk_open_close.nohover:hover{background: url('../images/disk_open_close-light-down.png') no-repeat center 22px ; }

/*background: url('../images/disk_open_close-blue.png') no-repeat;*/


    

.description_inner {padding: 45px 0 10px 0;}
.description_inner .title {
  font-size: 23px;
  text-align: center;
}
.description_inner .text{text-align: justify;margin-top: 22px;line-height: 22px;font-size: 16px;}
.description_inner .pdf{
    margin-top: 25px;
    border-top: 1px solid #cfcfcf;
    margin-bottom: 52px;
}
.description_inner .pdf a{
    padding-top:16px; 
    float: left;
    width:420px;
    font-size: 14px
}
.description_inner .pdf .bg {
  background: url("../images/download_pdf.png") no-repeat right 11px;
  display: block;
  margin-top: 1px;
  width: 100%;
}
.description_inner a{color:#23bcec}
.txt_18{font-size: 18px}


.contact_have_proj{background: #f5f5f5;padding-bottom: 22px;margin-top: 75px;}

.contact_have_proj .txt_big{padding-top: 51px;font-size: 40px;text-align: center;}




.contact_have_proj.contact_have_proj2{margin-top: 0;background: #fff;padding-bottom: 113px; }

a.main_btn_cont{
    color:#636363;
    display: block;
    border: 1px solid #636363;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    padding: 14px 7px;
    margin: 20px auto 0 auto;
    text-align: center;
    width: 187px;
}
.field_your_needs,
.field_our_solutions{float: left;width: 463px}

.field_our_added_value,
.field_our_technologies_services{float: right;width: 463px}

.bottom_row{margin-top: 70px }
.rrow{padding: 0 25px}
.photo4{margin-top: 50px}



#slider_logos ul li{}

.bg-grey{background: #f5f5f5;padding-top: 33px;padding-bottom: 47px;}

.block-successstory-sub{display: none;}

.row-wrap-testimonials.row-wrap-testimonials-0{display: block;}

.row-wrap-testimonials .image{width: 180px;margin: 0 auto;text-align: center;}

.row-wrap-testimonials .image img{max-width: 180px;max-height: 100px}

.row-wrap-testimonials .field_title{text-align: center;margin-top: 23px;font-size: 22px;padding: 0 105px;color:#0191d0}
.row-wrap-testimonials .field_country{text-align: center;font-size: 18px;margin-top: 3px; }
.row-wrap-testimonials .body{
    font-size: 24px;
    width: 814px;
    padding:50px 0 0 100px;
    margin: 0 auto;
    line-height: 130%;
}
.row-wrap-testimonials .field_author{margin:50px 0 0 100px;font-size: 17px;text-align: right;padding-right: 25px}
.row-wrap-testimonials .video-wrapper{margin:25px 0 25px 22px}

#block-views-successstory-block-2 {margin-top: 67px}
#block-views-successstory-block-2 .wrapper{margin-left: 3px}
h2.sc-block-title{font-size: 40px;text-align: center;color:#636363;padding-bottom: 31px }
.field_big_image-wrapper{margin-top: 25px;text-align: center;}
.field_big_image-wrapper img{width: 1024px}

.overlay-grey{background: url('../images/mask_overlay.png'); width: 100%;height: 100%;z-index: 990;position: absolute;display: none;}
.close_popup {
  background:  url("../images/close_x.png") no-repeat center center #ccc;
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: -28px;
  top: -26px;
  width: 25px;
  z-index: 999;
}
.popup{
    padding: 10px;
    position: absolute;
    z-index: 999;
    width:840px;
    height: 630px;
    display: none;
    background: #000;
    border:10px solid #ccc;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    
}
.white-layer-trick {
 /* background: #ff0000;*/
  height: 160px;
  left: 0;
  top: 226px;
  width: 100%;
  z-index: -9;
}

.white-layer-trick-services{display: none;}


.contact_have_proj .main_ico.nid-olang-80,
.contact_have_proj .main_ico.mid-800,
.contact_have_proj .main_ico.oil--gas{background: url('../images/sprite-plants.png') -50px 0 no-repeat; }

.contact_have_proj .main_ico.nid-olang-82,
.contact_have_proj .main_ico.nuclear{background: url('../images/sprite-plants.png') -50px -84px no-repeat; }

.contact_have_proj .main_ico.nid-olang-90,
.contact_have_proj .main_ico.power--utilities{background: url('../images/sprite-plants.png') -50px -169px no-repeat; }

.contact_have_proj .main_ico.nid-olang-87,
.contact_have_proj .main_ico.industries{background: url('../images/sprite-plants.png') -50px -254px no-repeat; }

.contact_have_proj .main_ico.nid-olang-97,
.contact_have_proj .main_ico.brewery{background: url('../images/sprite-plants.png') -50px -340px no-repeat; }

.contact_have_proj .main_ico.nid-olang-100,
.contact_have_proj .main_ico.food,
.contact_have_proj .main_ico.food--beverage,
.contact_have_proj .main_ico.beverage{background: url('../images/sprite-plants.png') -50px -426px no-repeat; }

.contact_have_proj .main_ico.nid-olang-23,
.contact_have_proj .main_ico.cosmetics--hygiene{background: url('../images/sprite-plants.png') -50px -510px no-repeat; }
.contact_have_proj .main_ico.nid-olang-91,
.contact_have_proj .main_ico.pharma--biotech-{background: url('../images/sprite-plants.png') -50px -596px no-repeat; }

.fb-wrapper{padding-top: 40px;min-height: 150px}
.food-wrapper{margin-left: 35px}

.rowfc ul li,
.field-name-field-bdescription ul li,
.hr-blk-row ul li,
.node .description_inner ul li,
.node .body li {
  background: rgba(0, 0, 0, 0) url("../images/li.png") no-repeat scroll 0 10px;
  margin-top: 1px;
  padding-top: 2px;
  padding-left: 14px;
}

#block-custom-front_plants_process .custom_module_tpl_blocks{padding-bottom: 0}
#block-custom-front_plants_process_1 .custom_module_tpl_blocks{padding-top: 0}

.hr.banner{line-height: 72%}
#profile-first-set{display: none}
#pannel-job-profiles-4{;background: #f5f5f5;padding-bottom: 25px}
#pannel-job-profiles-4 h2.title_hr{text-align: center;padding-top: 59px;}
.hr-block{margin-top: 59px;padding: 0 25px}

.title{font-weight: normal;font-size: 18px;}

.close_profile_4 {
  background: rgba(0, 0, 0, 0) url("../images/close_x.png") no-repeat scroll 0 0;
  cursor: pointer;
  display: block;
  height: 17px;
  position: absolute;
  right: 16px;
  text-indent: -9999px;
  top: 12px;
  width: 17px;
  z-index: 900;
}

.row-with-bg {
    background: url('../images/bg-rows.png') no-repeat center top; 
    padding-top: 30px;
    margin-top: 30px;
}
.row-with-bg.first {
    background-image: none;
    padding-top: 0;
    margin-top: 0
}

.hr-blk-row-left{float: left;width:466px }
.hr-blk-row-right {
  float: right;
  width: 466px;
}
.hr-blk-row .title{font-size: 20px;color:#00b4ec;}
.hr-blk-row .body{width: 460px;line-height: 125%;padding-top: 20px;font-size: 16px;}

.wrap-btns-crv {margin: 44px auto 0 auto;width: 357px;}
.btn_crv_rof{
    text-align: center;
    line-height: 42px;
    border: 1px solid #616161;
    webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    width: 120px;
    cursor: pointer;
}
.btn_crv_rof.btn_crv_rof_right{width: 180px;}

.invoke.invoke-1 .hr-blk-row {border-bottom:1px solid #cfcfcf;padding-bottom: 30px;padding-top: 30px}
.invoke.invoke-1 .hr-blk-row.last {border-bottom:0}
.invoke.invoke-1 .hr-blk-row .title{font-size: 26px;color:#23bcec;font-weight: normal}
.invoke.invoke-1 .hr-blk-row .body{width: 640px;text-align: justify;}
.invoke.invoke-1 .hr-blk-row .no_image .body{width: 980px;}
.invoke.invoke-1 .hr-blk-row .binner{width: 620px}
.invoke.invoke-1 .hr-blk-row .no_image .binner{width: 980px;}

.hire_you{background: #f5f5f5;padding-bottom: 54px;margin-top: 20px;}
.hire_you .title{font-size: 40px;text-align: center;font-weight: normal;padding-top: 40px;}
.hire_you.hire_you2 .title{padding-top: 20px;}
.hire_you .btn-join{
    font-size: 20px;
    text-align: center;
    color:#23bcec;
    line-height: 42px;
    padding: 2px 0 5px 0;
    border: 1px solid #23bcec;
    webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    width: 157px;
    margin: 25px auto 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
}

.invoke.invoke-2{margin-top: 56px;}
.invoke-2-title{font-size: 35px;text-align: center}

.disk_open_close.hr-policy{bottom:auto;top:305px;}


.testi-hr-block .title{font-size: 22px;text-transform: uppercase;color:#0191d0;font-weight: normal;}
.testi-hr-block .field_position{font-size: 16px;margin-top: 5px;line-height: 22px;}
.testi-hr-block .field_region{font-size: 19px;margin-top: 5px;}
.testi-hr-block .jcarousel-HRpolicy {height: 152px;}
.testi-hr-block .jcarousel-HRpolicy li{text-align: center;height: 150px;}
.testi-hr-block .jcarousel-HRpolicy li:hover,
.testi-hr-block .jcarousel-HRpolicy li.active{background:url('../images/arrow-down-testimo.png') no-repeat center 126px #f2f2f2;}

.videos-testimonials{margin-top: 20px}
.video-testimonial{padding-left: 24px;padding-top: 24px;padding-bottom: 24px;display: none;background: #f5f5f5}
.video-testimonial-0{display: block}
.hire_you2{background: none;}
.center{text-align: center}
.hr-block.hr-page{margin-top: 29px}
.hr-block.hr-page .hr-blk-row{min-height: 320px}
.btn_crv_rof.GOBACK{width:200px;margin:20px auto 0 auto;display: block; }
.hr-block.hr-page .title{color:#636363;}

.grey-b{background: #F5F5F5;padding-bottom: 30px}

.title_hr.center{padding-top: 40px}

.applybtn:hover{color:#fff;}
.applybtn{
    font-size: 26px;
    color: #fff;
    top:328px;
    display: block;
    background: #23bcec;
    text-align: center;
    webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    width: 166px;
    height: 50px;
    line-height: 48px;
    right: 112px;
    cursor: pointer;
    z-index: 900
}

.testi-hr-blk-row{margin: 0 auto;width: 153px;padding-top: 12px;}

.banner-locations{height: 152px;background: #f1f1f1}
.banner-locations-inner{
    background: url('../images/locations-pictos.png') no-repeat 135px 59px;
}
.locations-ptitle{font-size: 40px;padding: 66px 0 0 518px}
.sitemap .locations-ptitle,
.cookies .locations-ptitle{padding: 48px 0 0 408px}

#map-canvas {
    width: 1024px;
    height: 488px;
    margin-top: 29px
}

.html_contacts_popup {width: 230px;height:220px;font-size: 13px;padding: 0 12px 11px 0 }
.html_contacts_popup .popc_title{font-size: 16px;color: #23bcec;text-transform: uppercase;}
.html_contacts_popup .popc_field_adresse{margin-top: 5px;line-height: 130% }
.html_contacts_popup .popc_field_adresse_postale{margin-top: 3px;line-height: 130% }
.html_contacts_popup .popc_field_country{margin-top: 3px;}
.html_contacts_popup .picto{background: url('../images/popup-contacts-pictos.png')no-repeat;height: 21px;padding-left: 35px;padding-top: 5px }
.html_contacts_popup .picto.popc_field_tel{margin-top: 12px}
.html_contacts_popup .picto.popc_field_fax{margin-top: 6px;background-position: 0 -23px;}
.html_contacts_popup .picto.popc_field_email{margin-top: 6px;background-position: 0 -47px;}


#wrapper-contact-list{margin-top: 50px}

.html_contacts_popup_listing {font-size: 14px;width: 870px;margin: 25px auto;border-top: 1px dashed #616161 }
.html_contacts_popup_listing .popc_field_adresse{margin-top: 8px}
.html_contacts_popup_listing .popc_field_adresse_postale{margin-top: 5px}
.html_contacts_popup_listing .popc_field_country{margin-top: 5px}
.html_contacts_popup_listing.last {border-bottom: 1px dotted #616161;margin: 25px auto 55px auto; }
.html_contacts_popup_listing .inner{width: 492px;margin: 0 auto;padding-top: 30px}
.html_contacts_popup_listing.last .inner{padding-bottom: 30px}
.html_contacts_popup_listing .left-one{width:234px;}
.html_contacts_popup_listing .right-one{width:252px;}
.html_contacts_popup_listing .popc_title {
  color: #23bcec;
  font-size: 17px;
  text-transform: uppercase;
  width: 235px;
}
.html_contacts_popup_listing .picto{
    background: url('../images/popup-contacts-pictos-big.png')no-repeat;
    height: 33px;
    padding-left: 50px;
    padding-top: 8px;
}
.html_contacts_popup_listing .picto.popc_field_tel{margin-top: 0}
.html_contacts_popup_listing .picto.popc_field_fax{margin-top: 12px;background-position: 0 -44px;}
.html_contacts_popup_listing .picto.popc_field_email{margin-top: 12px;background-position: 0 -89px;}

.popc_siege_social{margin-top: 21px}

#country_dropdown{width: 435px;margin: 50px auto 0 auto ;}
#country_input{font-size: 16px;color: #636363;background: #f1f1f1;border:0;width: 100%;padding: 6px 0 7px 8px;text-transform: uppercase}


.wrapper-grey{background: #f1f1f1;margin-top: 30px;}
.you_have_big_title_contacts{font-size: 46px;padding-top: 55px;text-align: center}


#custom-contact-form {padding-left: 15px;width: 980px;padding-top: 35px;padding-bottom: 80px}
#custom-contact-form .form-item, 
#custom-contact-form .form-actions{margin-top: 0.56em;margin-bottom: 0.56em}
#custom-contact-form .left-leg{width: 500px}
#custom-contact-form .right-leg{width: 430px}
#custom-contact-form select{width: 358px;background: #dadada;border:0;padding: 6px 0 7px 12px;}
#custom-contact-form .form-item-title select{width: 72px}
#custom-contact-form label{width: 142px;float: left;padding-top: 7px;text-align: right;padding-right: 8px;font-weight: normal}
#custom-contact-form input[type="text"]{width: 358px;border: 0;padding: 7px 0 8px 16px;}
#captchaMe{margin-top: 40px}
#custom-contact-form .form-item-first-name input[type="text"]{width: 200px;}
#custom-contact-form .form-item-first-name label{width: 82px;}

#custom-contact-form .form-item-zip-code input[type="text"]{width: 115px;}
#custom-contact-form .form-item-city input[type="text"]{width: 180px;}
#custom-contact-form .form-item-city label{width: 50px;}
#custom-contact-form .form-item-tel-code input[type="text"]{width: 63px;}
#custom-contact-form .form-item-phone input[type="text"]{width: 100%;}
#custom-contact-form .form-item-captcha-response input[type="text"]{width: 420px;}
#custom-contact-form textarea{resize: none;border:0;width:440px;height: 326px;padding: 5px 0 0 11px}
#custom-contact-form .form-submit {
  background: transparent url("../images/contact_arrow.png") no-repeat 19px 15px;
  border: 1px solid #ccc;
  border-radius: 38px;
  cursor: pointer;
  float: right;
  font-size: 19px;
  height: 49px;
  margin: 29px -12px 0 0;
  padding-left: 20px;
  text-transform: uppercase;
  width: 137px;
}

#custom-contact-form .form-item select.error,
#custom-contact-form .form-item input.error{
    border: 1px solid red;
}
#custom-contact-form .recaptchatable{background: #fff;font-size: 12px;}
#custom-contact-form .recaptchatable a, 
#custom-contact-form .recaptchatable a:hover{color: #BFBFBF}
/* rgpd field */
#custom-contact-form .form-item-rgpd {
    margin-top: 15px;
}
#custom-contact-form .form-item-rgpd input {
    margin-top: 0;
}
#custom-contact-form .form-item-rgpd label {
    float: none;
}
#custom-contact-form .form-item-rgpd a {
    text-decoration: underline;
}
.det_middle_middle{margin: 0 auto;}

div.title2.hasChildren:hover{color:#23bcec !important ;}

#menu_wrapper .scroll-pane{
    width: 360px;
    height: 520px;
    overflow: auto;
}

#menu_wrapper .jspVerticalBar{
    right: 40px;
}
#menu_wrapper .jspVerticalBar{width: 8px;}
#menu_wrapper .jspTrack{background: #F2F2F2}
#menu_wrapper .jspDrag{background: #b6b6b6 }
	
#template_DNA .banner.relative{color:#ffffff;}
#template_DNA {top: 61px}
#template_DNA .brief{line-height: 130%;}
#template_DNA h2.title{color:#ffffff;}
#history .title_sml,
#template_DNA .title_sml{font-size: 25px;color:#ffffff;}
#template_DNA .under_banner_grey{height: 147px;background: #f8f8f8;}
#template_DNA .under_banner_grey .names,
#template_DNA .under_banner_grey .positions{font-size: 15px;font-style: italic;}
#template_DNA .under_banner_grey .names{font-size: 17px;}
#template_DNA .under_banner_grey .positions{padding-top: 4px}



/* reset the field collection  */
.field-collection-container {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 1em;
}
.field-collection-view {
  border-bottom: 0;
  margin:0;
  padding:0;
}
.field-collection-item-field-title-description{
  background: url('../images/border-bg-td.png') no-repeat center bottom  ;
}
.field-collection-item-field-title-description[about="/field-collection/field-title-description/5"],
.field-collection-item-field-title-description[about="/field-collection/field-title-description/6"] {
background: none;
}

.field-collection-container {
  border-bottom: 0;
  margin-bottom: 0;
}
/* end */


.field-collection-view-final{background: none;}

#template_DNA .under_banner_grey .names_positions{left:268px;top:84px;}
#template_DNA .under_banner_grey .rounded{left:60px;top:-81px;}
#template_DNA .under_banner_grey .names{padding-top: 8px}

#template_DNA .field-collection-container .field-item.even{float: left;}
#template_DNA .field-collection-container .field-item.odd{float: right;}

#template_DNA .field-collection-container {font-size: 15px;color:#0095db;}



#template_DNA .rowfc {
  width: 430px;
  padding-top: 15px
}

#template_DNA .rowfc.rowfc-L{float: left}
#template_DNA .rowfc.rowfc-R{float: right}
#template_DNA .rowfc .btitle{font-size: 15px;color:#0095db;text-align: left}
#template_DNA .rowfc .desc{
    font-size: 14px;
    color:#616161;
    width: 430px;
    text-align: justify;
    padding-top:8px; 
    line-height: 16px;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 23px;
}
#template_DNA .desc.no_border{border: none;}
#template_DNA .rowfc .pdf{
    padding-bottom: 28px;
    padding-top: 3px;
    margin-top: 1px;
}
#template_DNA .rowfc .pdf a {
  float: left;
  font-size: 14px;
  padding-top: 4px;
  width: 420px;
  color:#0095db;
}
#template_DNA .rowfc .pdf .bg {
  background: rgba(0, 0, 0, 0) url("../images/download_pdf.png") no-repeat scroll 0 0;
  float: left;
  height: 18px;
  margin-top: 0;
  width: 30px;
}


#template_DNA .field-collection-container .field-name-field-btitle {font-size: 15px;color:#0095db;text-align: left}
#template_DNA .field-collection-container .field-name-field-bdescription{font-size: 14px;color:#616161;}


#template_DNA .field-collection-container .field-name-field-bdescription .field-item{
    width: 460px;
    text-align: justify;
    padding-bottom: 28px;
    padding-top: 3px;
}
#template_DNA .field-collection-item-field-title-description{padding-top: 10px;}




.title_paragraph{padding: 44px 30px 0 30px; }
.margin_bottom_s{padding-bottom: 25px;}
.block_interesting_tpl_block{padding: 57px 0 }
.block_interesting_tpl_block .rowif{text-align: center;width: 250px;height: 280px; }
.block_interesting_tpl_block .body_number {
  font-size: 16px;
  padding-top: 25px;
  line-height: 19px;
  position: relative;
}
.block_interesting_tpl_block .body_number span{font-size: 41px}
#block-views-interesting_facts-block .block-inner{padding-bottom: 35px}
.pre_tit{padding-bottom: 2px}

.block_press_tpl_page .banner-locations-inner,
.block_news_tpl_page .banner-locations-inner {
  background: url("../images/news-pictos.png") no-repeat 180px 51px;
  height: 130px;
}
.block_news_tpl_page a{color:#0095DB;}
.block_news_tpl_page .locations-ptitle {
  padding: 51px 0 0 518px;
}
.block_news_tpl_page .title {color:#0096d8;font-size: 16px;text-transform: uppercase;padding-bottom: 11px;}
.block_news_tpl_page .field_date {
  padding-bottom: 12px;
}
.block_news_tpl_page a .field_brief {color: #636363;}
.block_news_tpl_page .field_brief {font-size: 25px;}
.block_news_tpl_page .body {margin-top: 10px; text-align: justify; line-height: 124%; font-size: 13px;}
.block_news_tpl_page .body {margin-top: 20px;text-align: justify;line-height: 124%;font-size: 16px;}
.block_news_tpl_page .left_bl {width: 620px}
.block_news_tpl_page .padding_2 {padding: 61px 25px}
.block_news_tpl_page .field_imagecaption {
  font-size: 12px;
  padding-top: 2px;
  width: 315px;
}
.block_news_tpl_page .row_news_page {padding-bottom: 43px;margin-top:40px;border-bottom: 1px solid #c1c1c1}
.block_news_tpl_page .row_news_page.first {margin-top:0}
.block_news_tpl_page .row_news_page.last {padding-bottom: 0;border:0}

.news_press_links .wrap {width: 50%} 
.news_press_links .wrap a{height: 26px;width: 100%;text-align: center;font-size: 16px;display: block;} 
.news_press_links a{color: #fff;} 
.news_press_links .wrap.wrap_news,
.news_press_links .wrap.wrap_press{padding-top: 8px} 
.news_press_links .wrap.wrap_news{background: #0095db;} 
.news_press_links .wrap.wrap_press{background: #a7a7a7;} 


.block_press_tpl_page .bl{width: 472px;margin-top: cfcfcf;margin-top: 68px }


.block_press_tpl_page .padding_2 {padding: 0 25px 118px 25px}
.block_press_tpl_page .bl .title{font-weight: bold;font-size: 18px}
.block_press_tpl_page .bl .body{text-align: justify;margin-top: 18px;}
.block_press_tpl_page .bl .brief{color:#0096d8;margin-top: 18px;text-transform: uppercase}

.block_press_tpl_page .pdf{
    margin-top: 25px;
    border-top: 1px solid #cfcfcf;
    text-transform: uppercase;
}
.block_press_tpl_page .pdf a{
    padding-top:16px; 
    float: left;
    width:420px;
    font-size: 14px;
    color:#636363;    
}
.block_press_tpl_page .pdf .bg{
    background: url('../images/download_pdf.png') no-repeat 0 0;
    height: 18px;
    width: 30px;
    float: left;
    margin-top: 11px; 
}
.nochpt{padding-top: 35px}

.item-list ul.pager li{margin: 0;padding: 0.3em;}
.pager .pager-first,
.pager .pager-last{display: none;}
.pager li > a, .pager li > span {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  padding: 2px 3px;
}
.pager .pager-current {color:#23bcec}


.pager li > a:focus, .pager li > a:hover {
  background-color: #fff;
}

.partners_tpl_page .locations-ptitle {
  padding: 48px 0 0 408px;
  height: 120px;
}
.banner-locations-inner.sitemap,
.banner-locations-inner.cookies,
.banner-locations-inner.legals,
.partners_tpl_page .banner-locations-inner 
{background:  url("../images/partnership.png") no-repeat 200px 50px;height:120px}

.partners_tpl_page .bpa {padding-bottom: 33px;margin-top: 33px;border-bottom: 1px solid #c1c1c1;width:787px;}
.partners_tpl_page .bpa.first {margin-top: 0}
.partners_tpl_page .bpa .title{padding-top:21px;color:#0096d8;font-size: 16px;text-transform: uppercase;}
.partners_tpl_page .bpa .body{padding-top: 21px;width:625px;line-height: 130%;}
.partners_tpl_page .padding_2{padding: 54px 21px}
.partners_tpl_page .bpa.last {padding-bottom: 0;border-bottom: 0;}

.hr_page.join_us a{
  background: #23bcec none repeat scroll 0 0;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 23px;
  height: 40px;
  line-height: 35px;
  right: 112px;
  text-align: center;
  top: 328px;
  width: 156px;
  z-index: 900;
  margin: 12px auto;
}
.ancien_club{margin-top: 25px;text-align: center;}
.talelink {
  color: #fff;
  font-size: 42px;
  left: 33px;
  text-align: center;
  top: 53px;
  width: 60%;
}
.talelink h1{
	color: #fff;
	font-size: 42px;
}
.talelink:hover {color:#fff}

.node_edit{left:30%;}
.node_edit a{color:red;}

.field-collection-view ul.field-collection-view-links{float: none}
.popup_nl_jet{background: #e2e2e2;width: 100%;z-index: 900;padding-bottom: 15px;display: none;}
.popup_nl_jet .titlepop{font-size: 22px;text-align: center;padding-top: 23px;}
.popup_nl_jet .zlabel{text-transform: uppercase;color: #0191d0;font-size: 17px;margin:2px 0 0 6px}
.popup_nl_jet .nls_list{
    
}
.popup_nl_jet .ok {
  background: transparent;
  border: 1px solid #616161;
  border-radius: 38px;
  display: block;
  height: 47px;
  line-height: 46px;
  margin: 18px auto 10px;
  text-align: center;
  width: 100px;
}
.popup_nl_jet .zradio {margin-top: 5px;cursor: pointer;}
.popup_nl_jet .radios_all {
  margin-top: 5px;
  width: 294px;
  margin: 12px auto 10px auto;
}
.popup_nl_jet .hrad {display: none;}
.popup_nl_jet .crad {background: url('../images/radiosc.png') no-repeat -22px 0;width:22px;height:22px }
.popup_nl_jet .crad.check {background-position: 0 0; }

.close_pop_jet{background: url('../images/close_pop_jet.png') no-repeat;width: 12px;height:11px;top:8px;right:10px;cursor: pointer;}

#block-custom-front_plants_process_mobile,
#block-custom-front_services_mobile{display: none}

.banner-locations-inner.search{
  background: url("../images/loop_search_p.png") no-repeat 121px 41px;
  height: 153px;
}
.banner-locations-inner.search .locations-ptitle{font-size: 30px;padding:66px 0 0 218px}
.bbox{color: #fff;font-size: 16px;text-align: center;background: #0095db;text-transform: uppercase;height: 29px}
.bbox_inner{padding-top: 5px }
ol.search-results{padding: 51px 25px 40px 25px}
ol.search-results .search-result {
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 25px;
  padding-bottom: 25px;
  font-size: 17px;
}
ol.search-results h3{text-transform: uppercase}
ol.search-results .search-result a{color: #0096d8;font-size: 16px;}

.search-results .search-snippet-info {
 padding-left: 0;
 padding-top: 12px;
}
.srch_lnk {margin-top: 8px}
.srch_lnk a{color:#0096d8}

.search_wrapper{line-height: 120%}
.nores_solr{padding: 90px 25px;line-height: 120%}
.item-list .pager li.pager-first,
.item-list .pager li.pager-last{display: none}
#block-views-news-block_1{display: none}




ul.site-map-menu{font-size: 23px;margin: 0;padding: 0}
ul.site-map-menu li {margin-top: 13px;cursor: pointer}
ul.site-map-menu li .nolink{color: #00b4ec;}
ul.site-map-menu li ul li .nolink{font-size: 18px;color: #636363}

ul.site-map-menu li a:hover{
 color:#00b4ec;   
}

ul.site-map-menu li a.nolink.active,
ul.site-map-menu li a
{color:#00b4ec }


ul.site-map-menu li ul {margin-left:34px}
ul.site-map-menu li ul li{margin-top: 4px}
ul.site-map-menu li ul li a{color:#626262;font-size: 18px;width:200px;display: block}
ul.site-map-menu li ul li ul li a{font-size: 15px}

.padd-class{padding: 31px 22px}
.padd-class table td {
    border: solid 1px #999;
    padding: 5px;
}
.padd-class ul {
    margin-left: 15px;
}
.padd-class ul li {
    list-style: inherit;
    margin: inherit;
}
.padd-class ul li ul  {
    margin-left: 15px;
}

#video_iframe ,
.popup_inner ,
.video-wrapper,
.video-testimonial{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-youku-testimonial.video-testimonial{
	padding: 0;
	height: auto;
	background: none;
	margin-top: 20px;
}
#video_iframe iframe,
.popup_inner iframe,
.video-wrapper iframe,
.video-testimonial iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#video_iframe .youtube_player {
    max-width: 100%;
    max-height: 100%;
}
.discover_boccard_new_btn {
  left: 84px;
  top: 510px;
  z-index: 800;
  cursor: pointer;
}
.discover_boccard_new_btn .bg {
  background: url("../images/explore3.png") no-repeat center top;
  height: 102px;
  width: 142px;
}
.discover_boccard_new_btn .txt {
  font-size: 33px;
  padding: 16px 0 0 23px;
  line-height: 112%;
}

.explore_boccard{display: none}

.jcarousel2{width: 960px;overflow: hidden;}
.slider_logos li {
  float: left;
  width: 1024px;
}
.jcarousel2 {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1024px;
}

.meura_link {
  display: block;
  height: 40px;
  right: 105px;
  top: 248px;
  width: 170px;
}

.my_li_bull li{
  background: rgba(0, 0, 0, 0) url("../images/li.png") no-repeat scroll 0 11px;
  margin-top: 1px;
  padding-left: 14px;
  width: 100%;
}

#node-634 h2,
#node-633 h2{font-size: 16px;padding-bottom: 4px;}
#node-633 a,
#node-633 a{color: #23bcec}

#node-1545 h2{font-size: 16px;padding-bottom: 4px;}
#node-1544 h2{font-size: 16px;padding-bottom: 4px;}

#node-1544 a{color: #23bcec}
#node-1545 a{color: #23bcec}

.node-pagemisc h2{font-size: 16px;padding-bottom: 4px;}
.node-pagemisc a{color:#23bcec;}
/*
.fc .fc-row{
    width: 460px;
  background: url("../images/border-bg-td.png") no-repeat center bottom;
}
.fc .field_btitle{
    color: #0095db;
    font-size: 15px;
}
.fc .field_bdescription{
    padding-bottom: 28px;
    padding-top: 3px;
    text-align: justify;
    width: 460px;
  }*/
#template_DNA .field-collection-container .field-item.even.last_child{float: none}

.doesNOThaveSubID{display: block}

#home_contactBtn.contact_have_proj{margin-top: 0;background: none;padding-bottom: 44px; }

#block-custom-front_plants_process{
    background: url("../images/liseret.png") no-repeat center 88px;
    margin-top: 50px;
}
#block-custom-front_plants_process_1{
    background: url("../images/liseret.png") no-repeat center -131px;
}

.image_read_more {margin-top: 15px}
.image_read_more img{width: 100%}
.field-collection-view{border:0}
.custom_module_tpl_blocks.set-1 .wrapper_blocks li .bg,
.custom_module_tpl_blocks.set-2 .wrapper_blocks li .bg{width: 48px}
.wrapper_blocks li.brewery.active .bg{width: 51px;}
.wrapper_blocks li.industries.active .bg{width: 49px;}

#discover_boccardJJ {width:338px; margin: 13px auto 0 auto; }
#discover_boccardJJ .discover_boccard_new_btn .bg{width :100%}
#discover_boccardJJ .discover_boccard_new_btn .txt {
  font-size: 33px;
  line-height: 112%;
  padding: 16px 0 0 0;
  text-align: center;
}
.btn_crv_rof_left{display: block;margin: 0 auto;}
.SlectBox {
  width: 356px;
}
#custom-contact-form .SumoSelect > .CaptionCont > label{width: 20px}
#custom-contact-form .SumoSelect > .optWrapper > .options > li label{float: none;text-align: left;padding-top: 0;}
.SumoSelect > .CaptionCont{background-color: #DADADA;cursor: pointer;}
.SumoSelect > .CaptionCont > span.placeholder {
  color: #636363;font-style: normal;
}

.jcarousel-control-prev2{display: none;}
.map-img-div{margin-top: 12px;width:100%;}

.timeline_holder {
  background:url("../images/timeline.png") no-repeat scroll -117px -2137px / auto 5990px #ccc;
  height: 600px;
  position: relative;
}

#block-custom-ex_bo_arrow_mobile{display: none}

    .swiper-button-next, .swiper-button-prev{
        display: none;
        background: url('../images/swipe_np.png') no-repeat 0 0 ;
        width:31px;
        height: 31px;
    }
    .swiper-button-next{
        background-position: -31px 0;
    }
    
 .hb_field_image_mobile{display: none}
 /*
.sww{width: 750px}
.swl{width: 220px}
.sws{width: 60px}
*/

.wrap-collls{width: 1024px;}


.discover_boccard_new_btn.mobile{display: none}

.swiper-container-ss {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 90px;
  width: 970px;
}

.s1 .swiper-slide{
    width: 220px
}
.s1 .swiper-slide .cell {
    text-align: center;
}

.s1 .swiper-slide .cell img{
    display: block;
    margin: 0 auto;
    max-width: 157px;
    max-height: 75px;
    cursor: pointer;
}


.swiper-button-ss-next, .swiper-button-ss-prev {
  color: #393937;
  font: 24px/27px Arial,sans-serif;
  height: 30px;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 120px;
  width: 30px;
  z-index: 920;
  cursor: pointer;
}

.swiper-button-ss-prev{
    left: 0;
    background: url('../images/carousel-left.png') no-repeat center center;
}

.swiper-button-ss-next{
    right: 0;
    background: url('../images/carousel-right.png') no-repeat center center;
}

#history .banner .title,
#history .banner .brief,
#history .banner h2{color: #fff;}

.dna_banner_mobile{display: none}



#block-custom-home_page_menu_grid .split_li{width: 1024px;margin-top: 0;padding: 0}
#block-custom-home_page_menu_grid .split_li.set-2{margin-left: -512px}

.dddd{padding: 0;width: 50% }
#block-custom-home_page_menu_grid .plants_detail_box,
#block-custom-home_page_menu_grid .blk{display: none}


.left-j,
.right-j{min-height: 100px}
.plant_solution_blk .custom_module_tpl_blocks{background: url("../images/liseret.png") no-repeat right 120px; }
.and_abs {
  left: 320px;
  top: 38px;
}
.btitle.l2 {
  margin: 0 auto;
  text-align: left;
  width: 150px;
  line-height: 90%;
}

.site-map-box-menu{display: block;}
.site-map-box-menu.site-map-box-menu-menu-main-menu-fr,
.site-map-box-menu.site-map-box-menu-menu-main-menu-es,
.site-map-box-menu.site-map-box-menu-menu-main-menu-pl,
.site-map-box-menu.site-map-box-menu-menu-main-menu-cn{display: none;}

.cmza{
  margin: 0 auto;
  width: 890px;
}

.img100p img{width:100%}

.linkCookie a:hover,
.linkCookie a{color: #fff}

.cookieCnilMakheia {width: 100% !important;}

.cookieCnilMakheia #fermerCookieCnil {
  padding: 5px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 22px;
}

/***************/
/*  Page news  */
/***************/
.boc_marche:after
{
	content: " ";
	background: #b2b2b2;
	height: 1px;
	z-index: -2;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0px;
}
body .boc_marche:before
{
    content: " ";
    background: white;
    height: 100%;
    z-index: -1;
    width: 50px;
    position: absolute;
    top: 0% ;
    left: 0px;
    margin: 0px;
    background-image: url('../images/sprite-plants.png');
}
.news_left_container h3
{
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #0096d8 !important;
}
.nopadding
{
	padding: 0px;
}
.news_right_container .bloc_news
{
	background-color: #f5f5f5;
	padding-top: 15px;
	margin-bottom: 10px;
	position: relative;
}
.boc_marche
{
	text-indent: -9999px;
	width: 50px;
    height: 50px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.bloc_news .imgBlock
{
	height: 135px;
    margin: 0px 15px;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
}
.bloc_news .icone
{
	text-indent: -9999px;
	
}
.bloc_news .more a:before
{
	content: " ";
	position: absolute;
	left: 0px;
	top: -1px;
	height: 25px;
	width: 30px;
	background: url('../images/puce-more.png') -1px -1px no-repeat;
}
.news_right_container .content:after
{
	content: " ";
	height: 30px;
	width: 100%;
	position: absolute;
	top: 105px;
	left: 0px;
	background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0), #f5f5f5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), #f5f5f5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), #f5f5f5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), #f5f5f5); /* Standard syntax */
}
.news_right_container .content
{
    max-height: 135px;
    overflow: hidden;
    padding-right: 30px;
}
.more_button
{
    text-align: right;
    /*margin-top: -15px;*/
    margin-bottom: 15px;
}
.field .field-label
{
	display: none;	
}
.fb_iframe_widget span
{
	height: 22px !important;
}
.more_button button
{
	background: url('http://www.recette.boccard.com/sites/all/themes/boilerplate/images/puce-more.png') -1px -1px no-repeat;
    border: none;
    text-indent: -9999px;
    height: 17px;
    width: 17px;
    padding: 0px;
    margin-left: 8px;
}
.bloc_news div.icone 
{
    position: absolute;
    right: 10px;
    height: 21px;
    width: 21px;
    top: 10px;
	background-image: url('../images/sprite-plants-mini.png'); 
}
.bloc_news .more
{
    margin-top: 15px;
    text-transform: uppercase;
    position: relative;
    padding-left: 25px;
    display: inline-block;
    float: right;
    margin-bottom: 40px;
}
.block_news_tpl_page .search_bloc:hover a 
{
	color: white;
}
.block_news_tpl_page .search_bloc a 
{
	color: #636363;
}
.search .search_bloc
{
	position: relative;
}
.search .search_bloc > span, .boc_marche:before
{
	position: absolute;
    top: 35%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    text-indent: -9999px;
    background-image: url('../images/sprite-plants.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.search .boc_alimentation_boisson:hover, .search .boc_alimentation_boisson.selected
{
	color: #ff6600;
}
.search .boc_alimentation_boisson:hover > span, .search .boc_alimentation_boisson.selected > span
{
	background-position: -51px -425px;
}
.bloc_news .icone.boc_brasserie
{
	background-image: url('../images/sprite-plants-mini.png');
	background-position: 0px -178px;
}
.boc_marche.boc_alimentation_boisson:before, .search .boc_alimentation_boisson > span
{
	background-position: 0px -425px;
}
.search .boc_boccard:hover > span, .search .boc_boccard.selected > span
{
	background-position: -64px 0px;
}
.bloc_news .icone.boc_boccard
{
	background-image: url('../images/sprite-boccard-mini.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.boc_marche.boc_boccard:before, .search .boc_boccard > span
{
	background-position: 0px 0px;
	background-image: url('../images/sprite-boccard.png');
}
.search .boc_brasserie:hover, .search .boc_brasserie.selected
{
	color: #d5a500;
}
.search .boc_brasserie:hover > span, .search .boc_brasserie.selected > span
{
	background-position: -53px -340px;
}
.bloc_news .icone.boc_brasserie
{
	background-image: url('../images/sprite-plants-mini.png');
	background-position: 0px -143px;
}
.boc_marche.boc_brasserie:before, .search .boc_brasserie > span
{
	background-position: 0px -340px;
}
.search .boc_cosmetique_hygiene:hover, .search .boc_cosmetique_hygiene.selected
{
	color: #e2007a;
}
.search .boc_cosmetique_hygiene:hover > span, .search .boc_cosmetique_hygiene.selected > span
{
	background-position: -50px -510px;
}
.bloc_news .icone.boc_cosmetique_hygiene
{
	background-position: 0px -214px;
}
.boc_marche.boc_cosmetique_hygiene:before, .search .boc_cosmetique_hygiene > span
{
	background-position: 0px -510px;
}
.search .boc_energie:hover, .search .boc_energie.selected
{
	color: #97bf0d;
}
.search .boc_energie:hover > span, .search .boc_energie.selected > span
{
	background-position: -52px -170px;
}
.bloc_news .icone.boc_energie
{
	background-position: 0px -71px;
}
.boc_marche.boc_energie:before, .search .boc_energie > span
{
	background-position: 0px -170px;
}
.search .boc_industrie:hover, .search .boc_industrie.selected
{
	color: #475b7b;
}
.search .boc_industrie:hover > span, .search .boc_industrie.selected > span
{
	background-position: -52px -255px;
}
.bloc_news .icone.boc_industrie
{
	background-position: 0px -107px;
}
.boc_marche.boc_industrie:before, .search .boc_industrie > span
{
	background-position: 0px -255px;
}
.search .boc_nucleaire:hover, .search .boc_nucleaire.selected
{
	color: #8f0cff;
}
.search .boc_nucleaire:hover > span, .search .boc_nucleaire.selected > span
{
    background-position: -52px -85px;
}
.bloc_news .icone.boc_nucleaire
{
	background-position: 0px -35px;
}
.boc_marche.boc_nucleaire:before, .search .boc_nucleaire > span
{
    background-position: 0px -85px;
}
.search .boc_petrole_gaz:hover, .search .boc_petrole_gaz.selected
{
	color: #b5a600;
}
.search .boc_petrole_gaz:hover > span, .search .boc_petrole_gaz.selected > span
{
    background-position: -52px 0px;
}
.bloc_news .icone.boc_petrole_gaz
{
	background-position: 0px 0px;
}
.boc_marche.boc_petrole_gaz:before, .search .boc_petrole_gaz > span
{
    background-position: 0px 0px;
}
.search .boc_pharma_biotech:hover, .search .boc_pharma_biotech.selected
{
	color: #046ab3;
}
.search .boc_pharma_biotech:hover > span, .search .boc_pharma_biotech.selected > span
{
    background-position: -52px -595px;
}
.bloc_news .icone.boc_pharma_biotech
{
	background-position: 0px -250px;
}
.boc_marche.boc_pharma_biotech:before, .search .boc_pharma_biotech > span
{
    background-position: 0px -595px;
}
.nopaddingleft
{
	padding-left: 0px;
}
.boc_news img
{
	max-width: 100%;
}
.nosize
{
	font-size: 0px;
}
.search a:last-child div.search_bloc
{
	border: none;
	
}
.archives_bloc div.year
{
	display: inline-block;
    width: 135px;
    border-right: solid thin;
    height: 30px;
    margin-bottom: 30px;
    padding-top: 8px;
    font-size: 12px;
}
.archives_bloc a
{
	color: #999;
	text-transform: none;
}
.archives_bloc div.year.selected, .archives_bloc div.year:hover
{
	background-color: #009ae0;
	color: white;
}
.archives_bloc a:last-child div.year
{
	border-right: none;
}
.archives_bloc .h3
{
	color: #009ae0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}
.archives_bloc
{
    background-color: #e7f1fa;
    padding-top: 20px;
    font-size: 0px;
    text-align: center;
}
.search div.search_bloc
{
	cursor: pointer;
    display: inline-block;
    width: 20%;
    padding: 0px;
    margin: 0px;
    height: 120px;
    color: #636363;
    font-size: 15px;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 30px;
    border-right: solid 1px grey;
    background-repeat: no-repeat;
    background-position: center 15px;
}
.search div.search_bloc.boc_cancel
{
	position: relative;
	height: 120px;
	left: 0px;
    top: 48px;
}
.search div.search_bloc.boc_cancel:hover
{
	color: #0096d8 !important;
}
.search div.search_bloc.boc_cancel p
{
	position: absolute;
    display: block;
    width: 100%;
    top: 45px;
}
.news_single
{
	margin-bottom: 60px;
	margin-top: 60px;
}
.news_single .title
{
	font-size: 16px;
}
.news_single .date
{
	font-size: 12px;
	margin-bottom: 15px;
}
.news_single .brief
{
	font-size: 25px;
	margin-bottom: 15px;
}
.news_single .body 
{
	margin-bottom: 15px;
}
.news_single .body a
{
	color: #0095db;
}
.news_single .back
{
	margin-top: 40px;
}
.news_single .back a
{
	color: white;
	padding: 10px;
	background-color: #0095db;
}
#filter_xs
{
	display: none;
}

.td-twitter iframe
{
	height: 22px;
}

@media all and (-ms-high-contrast:none)
{
	*::-ms-backdrop, .td-facebook iframe
	{
		margin-top: 2px;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .td-facebook iframe
	{
		margin-top: 2px;
	}
}

@media (max-width: 767px)
{
	
	#filter_xs
	{
	    width: 100%;
	    padding: 15px;
	    font-size: 16px;
	    text-transform: uppercase;
	    background-color: #0095db;
	    color: white;
	    cursor: pointer;
	}
	#filter_xs span
	{
		position: absolute;
	    right: 10px;
	    top: 15px;
    }
    .search div.search_bloc.boc_cancel br
    {
    	display: none;
    }
    .search div.search_bloc.boc_cancel p
    {
		top: 8px;
	    left: 40px;
	    width: initial;
    }
    .news_left_container
    {
    	margin-top: 25px;
    }
	.search div.search_bloc, .search div.search_bloc.boc_cancel
	{
	    width: 100%;
	    height: 30px;
	    background-size: 20px 20px;
	    border: none;
	    background-position: 10px 5px;
	    padding: 0px;
	    padding-left: 25px;
	    margin: 0px;
	    position: relative;
	    border-bottom: solid thin #a6a6a6 !important;
		display: none;
    	top: 0px;
	}
	.search div.search_bloc p
	{
	    position: absolute;
	    top: 8px;
	    left: 40px;
	}
	
	.search .boc_petrole_gaz > span
	{
		background-position: 0px 0px;
	}
	
	.search .boc_nucleaire > span
	{
		background-position: 0px -36px;
	}
	
	.search .boc_brasserie > span
	{
		background-position: 0px -143px;
	}
	
	.search .boc_alimentation_boisson > span, .search .boc_cosmetique_hygiene > span
	{
		background-position: 0px -214px;
	}
	
	.boc_boccard > span
	{
		background-image: url('../images/sprite-boccard-mini.png');
		background-position: 0px 0px;
	}
	
	.search .boc_energie > span
	{
		background-position: 0px -71px;
	}
	
	.search .boc_industrie > span
	{
		background-position: 0px -107px;
	}
	
	.search .boc_pharma_biotech > span
	{
		background-position: 0px -250px;
	}
	
	.search .search_bloc > span
	{
		position: absolute;
		top: 103%;
		left: 10%;
		height: 20px;
		width: 20px;
		margin-left: -25px;
		margin-top: -25px;
		text-indent: -9999px;
		background-image: url('../images/sprite-plants-mini.png');
		background-repeat: no-repeat;
	}
}
/*
 * Vision
 */
.node-type-vision .node {
    font-size: 16px;
    line-height: 23px;
}

.node-type-vision .banner {
    padding: 100px 55px;
    color: #fff;
    background-size: cover;
}

.node-type-vision .banner .my_node_subtitle {
 font-size: 28px;
}

.node-type-vision .banner .my_node_title {
    font-size: 52px;
    line-height: 75px;
    font-weight: 700;
}

.node-type-vision .vision h2 {
    font-family: "futural";
    font-weight: 500;
    font-size: 28px;
    position: relative;
    margin-bottom: 30px;
}

.node-type-vision .vision {
    margin: 40px 0;
}

.node-type-vision .vision_header,
.node-type-vision .values_header {
    font-size: 18px;
    margin-bottom: 20px;
}

.node-type-vision .vision .img-wrapper {
    padding-right: 0;
    text-align: right;
    position: relative;
}

.node-type-vision .quote, .value_text blockquote {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}

.node-type-vision .quote:before,
.node-type-vision .quote:after,
.value_text blockquote:before,
.value_text blockquote:after {
    content: "";
    display: block;
    width: 36px;
    height: 30px;
    position: absolute;
}

.node-type-vision .quote:before,
.value_text blockquote:before {
    background: url('../images/quote_open.svg');
    background-size: cover;
    left: 0;
    top: 0;
}
.node-type-vision .quote:after,
.value_text blockquote:after {
    background: url('../images/quote_close.svg');
    background-size: cover;
    right: 0;
    bottom: 0;
}

.node-type-vision .field_vision_text {
    background-color: #f7f7f7;
    padding: 15px;
    position: relative;
    width: 90%;
    z-index: 10;
    margin-top: -5px;
}

.node-type-vision .values-navigation {
    padding-bottom: 60px;
}

.node-type-vision .values-navigation li {
    display: inline-block;
    max-width: 145px;
    text-align: center;
    padding: 0 8px;
    border-top: dashed 1px #dedede;
    cursor: pointer;
    vertical-align: top;
}

.node-type-vision .values-navigation li:before {
    content: "";
    background-image: url(../images/li.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 12px;
    height: 12px;
    margin: -6px auto 15px auto;
    padding-left: 25px;
    padding-right: 25px;
}

.node-type-vision .values-navigation li:hover a,
.node-type-vision .values-navigation li:first-child a {
    color: #0095db;
}

.node-type-vision .values-navigation li:hover:before,
.node-type-vision .values-navigation li:first-child:before {
    background-image: url(../images/li-selected.svg);
    width: 20px;
    height: 20px;
    margin-top: -14px;
}

.node-type-vision .values-navigation.fixed {
    background-color: #fff;
    position: fixed;
    top: 90px;
    padding-top: 20px;
    padding-bottom: 0;
    z-index: 100;
}

.node-type-vision .values {
    margin-bottom: 80px;
}
.node-type-vision .values .img-wrapper {
    position: relative;
}

.node-type-vision .caption {
    margin-top: -7px;
    padding: 10px;
    background-color: #0095db;
    color: #fff;
    text-align: left;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
    /* mobile */
    width: 90%;
    margin-left: 10%;
    position: absolute;
    bottom: 5px;
}
.node-type-vision .col-sm-pull-6 .caption {
    margin-left: 0;
}

.node-type-vision .caption span {
    display: inline-block;
    width: 85%;
}
.node-type-vision .caption.right span {
    width: 80%;
}
.node-type-vision .col-sm-push-6 .caption span {
    margin-left: 10%;
}
.node-type-vision .caption.right span {
    margin-left: 22%;
}

.node-type-vision .values .col-sm-pull-6 .img-wrapper {
    padding-right: 0;
    text-align: right;
}

.node-type-vision .values h2 {
    font-family: "futural";
    color: #0095db;
    font-weight: 500;
    font-size: 28px;
}

.node-type-vision .values h3 {
    font-family: "futural";
    font-weight: 500;
    font-size: 24px;
    color: #0095db;
    margin-bottom: 25px;
}

.node-type-vision .value_header {
    padding: 0 10px 40px 10px;
}

.node-type-vision .value_header .quote {
    font-size: 18px;
    margin-top: 20px;
}

.node-type-vision .values .value_text {
    background-color: #f7f7f7;
    padding: 15px;
    position: relative;
    width: 90%;
    margin-top: -5px;
    z-index: 10;
}

.node-type-vision .values .col-sm-6:not(.col-sm-pull-6) .value_text {
    margin-left: 10%;
}

.node-type-vision .value_figure {
    font-size: 114px;
    line-height: 100px;
    margin-bottom: 25px;
    font-family: "futuram";
    font-weight: 800;
    color: #0095db;
}

.value_note {
    color: #0095db;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
}

blockquote + .value_note {
    padding-left: 50px;
}

@media (max-width: 767px) and (min-width: 320px) {
    .node-type-vision .node img {
        width: 90%;
    }
}

@media (min-width: 768px) {

    .node-type-vision .values_header {
        margin-bottom: 30px;
    }

    .node-type-vision .vision .quote {
        position: relative;
        padding-left: 80px;
        padding-right: 80px;
    }

    .node-type-vision .vision .quote:before,
    .node-type-vision .vision .quote:after {
        width: 60px;
        height: 50px;
    }

    .node-type-vision .field_vision_text {
        width: 115%;
        margin-top: 0;
    }
    .node-type-vision .field_vision_text_inner {
        padding: 40px;
    }

    .node-type-vision .values img {
        margin-top: 25px;
        max-width: 100%;
    }

    .node-type-vision .caption {
        width: 100%;
        margin-left: 0;
        position: relative;
    }

    .node-type-vision .values .value_text {
        width: 115%;
        padding: 40px;
        margin-top: 0;
        margin-left: 0;
    }

    .node-type-vision .values .col-sm-6:not(.col-sm-pull-6) .value_text {
        margin-left: -15%;
    }

    .node-type-vision .value_figure {
        margin-left: -15%;
    }
}
/* history video */
.video-wrapper {
    margin-bottom: 50px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}