#block-custom-front_map .explore_boccard_loc, #block-custom-front_map .explore_boccard {
  width: 212px;
}
#block-views-news-block .more-btn a {
  width: 240px;
}
#block-custom-front_talented .txt {
  width: 66%;
}

.site-map-box-menu{display: none;}
.site-map-box-menu.site-map-box-menu-menu-main-menu-pl{display: block;}

.hire_you .btn-join {
  width: 197px;
}
.hr_page.join_us a{width: 190px;}


.wrapper_blocks li.mid-811.active .bg,
.wrapper_blocks li.mid-1049.active .bg,
.wrapper_blocks li.mid-893.active .bg,
.wrapper_blocks li.brewery.active .bg {
  background-position: -53px -340px;
}

.more-btn a {
  width: 240px;
}

.absolute-dropdown_title_brief h1.title,
.absolute-dropdown_title_brief h2.title{font-size: 45px;color:#636363;margin-top: 28px }
.marches-encart a{
    background-image: url('../images/marches-encart-pl.jpg');
}
@media (min-width: 320px) and (max-width: 767px){
    .discover_boccard_new_btn {
        width: 275px;
    }
	.marches-encart a{
        background-image: url('../images/marches-encart-mobile-pl.jpg');
    }
}