#block-custom-front_map .explore_boccard_loc, #block-custom-front_map .explore_boccard {
  width: 194px;
}
.contact_have_proj .txt_big {
  padding-left: 18px;
}
.site-map-box-menu{display: none;}
.site-map-box-menu.site-map-box-menu-menu-main-menu-cn{display: block;}

.wrapper_blocks li.mid-811.active .bg,
.wrapper_blocks li.mid-1049.active .bg,
.wrapper_blocks li.mid-893.active .bg,
.wrapper_blocks li.brewery.active .bg {
  background-position: -53px -340px;
}
.marches-encart a{
    background-image: url('../images/marches-encart-ch.jpg');
}
@media (min-width: 320px) and (max-width: 767px){
    .discover_boccard_new_btn {
        width: 275px;
    }
    .custom_module_tpl_blocks .btitle { margin-top: 18px;}
	.marches-encart a{
		background-image: url('../images/marches-encart-mobile-ch.jpg');
    }
}