body.i18n-ru{
	font-family: "Arial",Helvetica Neue,Helvetica,sans-serif;
}
#block-custom-front_map .explore_boccard_loc, #block-custom-front_map .explore_boccard {
  width: 255px;
}
#block-views-news-block .more-btn a {
  width: 240px;
}
#block-custom-front_talented .txt {
  width: 66%;
}

.site-map-box-menu{display: none;}
.site-map-box-menu.site-map-box-menu-menu-main-menu-ru{display: block;}

.hire_you .btn-join {
  width: 197px;
}
.hr_page.join_us a{width: 190px;}


.wrapper_blocks li.mid-811.active .bg,
.wrapper_blocks li.mid-1049.active .bg,
.wrapper_blocks li.mid-893.active .bg,
.wrapper_blocks li.brewery.active .bg {
  background-position: -53px -340px;
}

.more-btn a {
  width: 240px;
}

.absolute-dropdown_title_brief h1.title,
.absolute-dropdown_title_brief h2.title{font-size: 45px;color:#636363;margin-top: 28px }
.marches-encart a{
    background-image: url('../images/marches-encart-ru.jpg');
}
.wrapper_blocks .title{
	font-size: 18px;
}

body.i18n-ru .text_on_banner .big{
	font-size:36px;
}
.text_on_banner-3375{
	top:30px;
}

.wrapper_blocks li.mid-1386, .wrapper_blocks li.mid-1375{
	margin-top:65px;
}
.dddd .wrapper_blocks li.mid-1368{
	margin-bottom:18px;
}
.dddd .wrapper_blocks li.mid-1394, .dddd .wrapper_blocks li.mid-1395{
	margin-top:65px;
}
.slick-list {
	padding-top:65px !important;
}
.and_abs{
	left:419px;
}
.btitle.l2{
	width:350px;
}
.smallest{
	font-size:19px;
}
.hr_page.join_us a{
	font-size:14px;
	line-height:40px;
}
.hire_you .btn-join{
	font-size:14px;
	width:310px;
}
.applybtn{
	font-size: 20px;
    width: 240px;
}
.cookies .locations-ptitle{
	padding-top:48px;
}
.locations-ptitle{
	font-size:46px;
}
.adjust-1965{
	left: -30px;
}
.adjust-1975{
	left: 0px;
}
#template_DNA h2.title, #template_DNA h1.title{
	color:#FFFFFF;
}
.absolute-dropdown_title_brief .dropdown .txt{
	font-size:16px;
}
.block-inner .absolute-dropdown_title_brief h1.title{
	font-size:32px;
}
.absolute-dropdown_title_brief .brief{
	font-size:20px;
}
#custom-contact-form .form-submit{
	font-size: 14px;
}
#block-views-news-block .more-btn a{
	width:300px;
}
@media (min-width: 767px){
	.det_middle .blk{
		width: 960px;
	}
	.title2.hasChildren{
		overflow-wrap: break-word;
		width: 190px;
	}
	.childs{
		margin-left: 25px;
	}
}
@media (min-width: 320px) and (max-width: 767px){
    .discover_boccard_new_btn {
        width: 275px;
    }
	.marches-encart a{
        background-image: url('../images/marches-encart-mobile-ru.jpg');
    }
}