@media (max-width: 768px) {
  .content {
	width:100%;
  }
}
.movie-clip-mask{
	width:100%;
	height:100%;
	position:absolute;
}
.slick-prev,
.slick-next{
	margin-top:-28px;
	z-index:10;
}
.slick-prev, .slick-next{
	width:56px;
	height:56px;
}
.slick-prev{
	left:15px;
	background:url(../images/left.png);
}
.slick-prev.slick-disabled{
	background:url(../images/left-disabled.png);
}
.slick-next{
	right:15px;
	background:url(../images/right.png);
}
.slick-next.slick-disabled{
	background:url(../images/right-disabled.png);
}
.history-slider .single-slide{
	height:600px;
	position:relative;
	background:#dcdadb;
}
.bg-slide{
	position:absolute;
	top:0px;
	left:0;
	bottom:0px;
	right:0px;
	z-index:10;
}
.movie-clip{
	/*display:none;*/
    position: absolute;
	background:#5bc5ed;
	z-index:5;
    width: 25px;
	height: 25px;
}
.box-container{
	position:absolute;
	width:60%;
	display:none;
	z-index:20;
}
.box-data h3{
	font-size:23px;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:10px;
}
.box-data h3.extra{
	color:#5cc5ed;
}
.box-data p{
	margin-bottom:0px;
}
.box-data{
	position:relative;
	color:#a0a0a0;
	font-size:16px;
	-webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
	   -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
	border: 1px solid #93d4ed;
	padding:10px;
	background:#fff;
}
.box-logos{
	position:relative;
	width:100%;
	height:80px;
}
.box-logos ul{
	margin:0;
	padding:0;
	list-style-type:none;
	margin-top:10px;
}
.box-logos li{
	float:left;
	margin-left:10px;
}
.box-logos img{
	max-height:74px;
	max-width:74px;
}
.arrow{
	position:absolute;
}
.left .arrow{
	background:url(../images/arrow-left.png);
	left:-22px;
	top:10px;
	width:22px;
	height:56px;
}
.right .arrow{
	background:url(../images/arrow-right.png);
	right:-22px;
	top:10px;
	width:22px;
	height:56px;
}
.top .arrow{
	background:url(../images/arrow-top.png);
	top:-22px;
	left:50%;
	margin-left:-38px;
	height:22px;
	width:56px;
}
.bottom .arrow{
	background:url(../images/arrow-bottom.png);
	bottom:-22px;
	left:50%;
	margin-left:-38px;
	height:22px;
	width:56px;
}
.slide-0,
.slide-last{
	background:#fff !important;
}
.slide-last{
	width:314px;
	background:url(../images/slides/last-slide.png);
}
.slide-1 .box-container{
	left:160px;
	top:275px;
}
.slide-2 .box-container{
	right:70px;
	top:185px;
	width:80%;
}
.slide-3 .box-container{
	left:-10px;
	top:205px;
	width:70%;
}
.slide-4 .box-container{
	left:-10px;
	bottom: 145px;
	width:80%;
}
.slide-5 .box-container{
	left: -20px;
    top: 165px;
    width: 80%;
}
.slide-6 .box-container{
	right: 90px;
    top: 205px;
    width: 80%;
}
.slide-7 .box-container{
	left:0px;
	top:135px;
	width:80%;
}
.slide-8 .box-container{
	right:0px;
	bottom: 285px;
	width:75%;
}
.slide-9 .box-container{
	right:80px;
	top:135px;
}
.slide-10 .box-container{
	left:0px;
	top:125px;
	width:90%;
}
.slide-repeat-1 .box-container{
	left: 60px;
    top: 205px;
    width: 75%;
}
.slide-repeat-2 .box-container{
	left: 50px;
    bottom: 145px;
    width: 90%;
}
.slide-repeat-3 .box-container{
	left: 60px;
    top: 175px;
    width: 85%;
}
.slide-repeat-4 .box-container{
	left: 60px;
    bottom: 185px;
    width: 90%;
}
.slide-repeat-5 .box-container{
	right: 100px;
    top: 125px;
    width: 70%;
}
.slide-repeat-6 .box-container{
	left: 65px;
    bottom: 275px;
    width: 75%;
}
.slide-repeat-7 .box-container{
	left: 120px;
    top: 135px;
    width: 80%;
}
.slide-repeat-8 .box-container{
	left: 80px;
    top: 135px;
    width: 70%;
}
.slide-1 .movie-clip-1{
    width: 0px;
	height: 50px;
    left: 0px;
    top: 220px;
}
.slide-1 .movie-clip-2{
	height: 0px;
    left: 498px;
    top: 245px;
}
.slide-2 .movie-clip-1{
	height: 0px;
    left: -42px;
    top: 285px;
}
.slide-2 .movie-clip-2{
    width: 0px;
    left: -60px;
    bottom: 65px;
}
.slide-2 .movie-clip-3{
	height: 0px;
    right: 30px;
    bottom: 50px;
}
.slide-3 .movie-clip-1{
	height: 0px;
    left: -60px;
    bottom: 375px;
}
.slide-3 .movie-clip-2{
    width: 0px;
    left: -60px;
    top: 165px;
}
.slide-4 .movie-clip-1{
	width: 0px;
    left: -200px;
    top: 165px;
}
.slide-4 .movie-clip-2{
    height: 0px;
    left: -70px;
    top: 165px;
}
.slide-4 .movie-clip-3{
    width: 0px;
    left: -70px;
    bottom: 95px;
}
.slide-5 .movie-clip-1{
	width: 0px;
    left: -290px;
    top: 480px;
}
.slide-5 .movie-clip-2{
    height: 0px;
    left: -70px;
    bottom: 90px;
}
.slide-5 .movie-clip-3{
    width: 0px;
    left: -70px;
    top: 130px;
}
.slide-6 .movie-clip-1{
    width: 0px;
    left: -210px;
    top: 125px;
}
.slide-6 .movie-clip-2{
	height: 0px;
    left: -70px;
    top: 125px;
}
.slide-6 .movie-clip-3{
    width: 0px;
    left: -70px;
    bottom: 140px;
}
.slide-6 .movie-clip-4{
    height: 0px;
    right: 40px;
    bottom: 140px;
}
.slide-7 .movie-clip-1{
    height: 0px;
	left: -65px;
    bottom: 335px;
}
.slide-7 .movie-clip-2{
	width: 0px;
    left: -70px;
    top: 90px;
}
.slide-8 .movie-clip-1{
    width: 0px;
	left: -245px;
    top: 85px;
}
.slide-8 .movie-clip-2{
    height: 0px;
	left: -45px;
    top: 65px;
}
.slide-8 .movie-clip-3{
    width: 0px;
	left: -35px;
    top: 235px;
}
.slide-8 .movie-clip-4{
    height: 0px;
	left: 75px;
    top: 240px;
}
.slide-8 .movie-clip-5{
    width: 0px;
	left: 75px;
    top: 340px;
}
.slide-9 .movie-clip-1{
    width: 0px;
	left: -175px;
    top: 340px;
}
.slide-9 .movie-clip-2{
    height: 0px;
	left: 15px;
    bottom: 240px;
}
.slide-9 .movie-clip-3{
    width: 0px;
    left: 15px;
    top: 235px;
}
.slide-9 .movie-clip-4{
    height: 0px;
    left: 135px;
    bottom: 345px;
}
.slide-9 .movie-clip-5{
    width: 0px;
    left: 135px;
    top: 90px;
}
.slide-10 .movie-clip-1{
    width: 0px;
    left: -285px;
    top: 90px;
}
.slide-10 .movie-clip-2{
    height: 0px;
    left: -50px;
    top: 90px;
}
.slide-10 .movie-clip-3{
    width: 0px;
    left: -285px;
    top: 90px;
}
.slide-repeat-1 .movie-clip-1{
    height: 0px;
    left: -360px;
    top: 170px;
}
.slide-repeat-1 .movie-clip-2{
    width: 0px;
    left: -355px;
    top: 435px;
}
.slide-repeat-1 .movie-clip-3{
    height: 0px;
    left: 20px;
    bottom: 150px;
}
.slide-repeat-1 .movie-clip-4{
    width: 0px;
    left: 30px;
    top: 155px;
}
.slide-repeat-2 .movie-clip-1{
    width: 0px;
    left: -110px;
    top: 165px;
}
.slide-repeat-2 .movie-clip-2{
    height: 0px;
    left: 15px;
    top: 170px;
}
.slide-repeat-2 .movie-clip-3{
    width: 0px;
    left: 20px;
    top: 480px;
}
.slide-repeat-3 .movie-clip-1{
    width: 0px;
    left: -195px;
    bottom: 95px;
}
.slide-repeat-3 .movie-clip-2{
    height: 0px;
    left: 20px;
    bottom: 100px;
}
.slide-repeat-4 .movie-clip-1{
    height: 0px;
    left: -275px;
    bottom: 385px;
}
.slide-repeat-4 .movie-clip-2{
    width: 0px;
    left: -275px;
    top: 125px;
}
.slide-repeat-4 .movie-clip-3{
    height: 0px;
    left: 20px;
    top: 130px;
}
.slide-repeat-4 .movie-clip-4{
    width: 0px;
    left: 25px;
    bottom: 140px;
}
.slide-repeat-5 .movie-clip-1{
    width: 0px;
    left: -215px;
    top: 435px;
}
.slide-repeat-5 .movie-clip-2{
    height: 0px;
    left: 20px;
    bottom: 145px;
}
.slide-repeat-5 .movie-clip-3{
    width: 0px;
    left: 25px;
    top: 85px;
}
.slide-repeat-5 .movie-clip-4{
    height: 0px;
    left: 430px;
    top: 95px;
}
.slide-repeat-6 .movie-clip-1{
    height: 0px;
    left: -85px;
    top: 160px;
}
.slide-repeat-6 .movie-clip-2{
    width: 0px;
	left: -80px;
    top: 235px;
}
.slide-repeat-6 .movie-clip-3{
    height: 0px;
	left: 30px;
    top: 240px;
}
.slide-repeat-6 .movie-clip-4{
    width: 0px;
	left: 30px;
    top: 340px;
}
.slide-repeat-7 .movie-clip-1{
    width: 0px;
    left: -225px;
    top: 340px;
}
.slide-repeat-7 .movie-clip-2{
    height: 0px;
    left: -35px;
    bottom: 240px;
}
.slide-repeat-7 .movie-clip-3{
    width: 0px;
    left: -30px;
    top: 235px;
}
.slide-repeat-7 .movie-clip-4{
    height: 0px;
    left: 80px;
    bottom: 340px;
}
.slide-repeat-7 .movie-clip-5{
    width: 0px;
	left: 90px;
    top: 90px;
}
.slide-repeat-8 .movie-clip-1{
    width: 0px;
    left: -190px;
    top: 85px;
}
.slide-repeat-8 .movie-clip-2{
    height: 0px;
    left: 35px;
    top: 95px;
}
.slide-repeat-9 .movie-clip-1{
    width: 0px;
    left: -285px;
    top: 90px;
}
.slide-repeat-9 .movie-clip-2{
    height: 0px;
    left: -50px;
    top: 90px;
}
.slide-repeat-9 .movie-clip-3{
    width: 0px;
    left: -285px;
    top: 90px;
}
.main-nav{
	position:relative;
	width:1024px;
	margin:30px auto;
}
.main-nav ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.main-nav li{
	position:relative;
	float:left;
	width:10.4px;
	min-height:10px;
	background:url(../images/bg-nav.gif) center;
	cursor:pointer;
}
.detailBox{
	display:none;
}
.extra{
	height:20px !important;
}
.detailBox{
	display:block;
	position:absolute;
	top:30px;
	left:-10px;
	z-index:20;
	text-align:left;
	width:79px;
	font-size:12px;
	color:#a0a0a0;
	cursor:auto;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
		    hyphens: auto;
}
.detailBox.adjust-1965{width: 100px; left: -25px; }
.detailBox.adjust-1975{width: 120px; left: 0;}

.detailBox p{
	margin-top:0px;
}
.detailBox h3{
	margin-top:0px;
	font-weight:normal;
	font-size:16px;
	color:#5cc5ed;
	margin-bottom:9px;
}
.imageSmall{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-2.7px;
	width:6px;
	height:6px;
	background-image:url(../images/button.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
	z-index:10;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.imageSmall div{display:none;}
.imageTobig{
	position:absolute;
	top:0;
	left:0;
	margin-top:-16px;
	margin-left:-13px;
	width:39px;
	height:42px;
	background:url(../images/button.png) no-repeat;
	z-index:12;
}
.imageTobig div{
	display:block;
	margin-top:10px;
	text-align:center;
	font-size:12px;
	color:#fff;
}
/* ================ DOCK 1 ================ */
#dock { position: relative; margin-top: 50px; }
.dock-container { position: relative; height: 50px; }
.dock-item img { border: 0; width: 100%; vertical-align:top; }
.dock-item span { 
	position:absolute;
	top:50%;
	width:100%;
	margin-top:18%;
	font-size:12px;
	text-align:center;
	color:#FFF;
	display: none;
}
a.dock-item {
	position: absolute;
	top: 0px;
	display: block;
	width:9px;
	height:10px;
	text-decoration: none;
	background-image:url(../images/bg-nav.gif);
	background-position: center;
	background-repeat:repeat-y;
	text-align:center;
}
.history-main{margin-top:70px;}
@media (min-width: 320px) and (max-width: 767px){
    .bg-slide,
    .movie-clip{display: none;}
    .history-slider .single-slide{background: #fff;height: 420px;}
    .single-slide .box-container {
		bottom: auto;
		left: 5%;
		top: auto;
		width: 90%;
		float: left;
		margin-top: 60px;
    }
    .slick-prev, .slick-next{top:0;}
    /*.box-data{padding-bottom: 100px}*/
    .box-data .arrow{
		background:url(../images/arrow-top.png);
		top:-22px;
		left:50%;
		margin-left:-38px;
		height:22px;
		width:56px;
    }
    .box-logos {  height: 0;margin-top: -95px;}
	.detailBox{
		text-align:center;
		left:-60px;
		width:130px;
		display:none;
	}
	#dock{
		overflow:auto;
		height:230px;
		position:absolute;
		width:100%;
		margin-top:0px;
	}
	.history-main{margin-top:200px;}
	a.dock-item{
		display:block;
		float:left;
		position:relative;
		width:14px;
		margin-top: 50px;
	}
	#dock a.extra:first-child .arrow-slider,
	#dock a.extra:first-child .detailBox{
		display:block;
	}
	.arrow-slider{
		position:absolute;
		background:url(../images/arrow-slider.png) no-repeat;
		height: 18px;
		left: -10px;
		position: absolute;
		top: -40px;
		width: 35px;
		z-index: 10;
		display:none;
	}
}
